@charset "UTF-8";
@font-face { font-family: 'Signal'; src: url("../fonts/signal/signal-no2-d-webfont.eot"); src: local("☺"), url("../fonts/signal/signal-no2-d-webfont.woff") format("woff"), url("../fonts/signal/signal-no2-d-webfont.ttf") format("truetype"), url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg"); }

.span1 { background-color: #6ca6f3; }

.about .life-outside-work img { width: 100%; margin-left: -1px; border: 1px solid #f2f2f2; }
.about .about-us { padding-top: 0; padding-bottom: 0; }

@media (min-width: 767px) { .about-us .container { background-color: white; padding-bottom: 60px; } }

@media (min-width: 992px) {}
@media (min-width: 1200px) {}
