@charset "UTF-8";
@font-face { font-family: 'Signal'; src: url("../fonts/signal/signal-no2-d-webfont.eot"); src: local("☺"), url("../fonts/signal/signal-no2-d-webfont.woff") format("woff"), url("../fonts/signal/signal-no2-d-webfont.ttf") format("truetype"), url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg"); }

.eventer .intro { background: url("../images/eventer-background.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/eventer-background.jpg, sizingMethod='scale')"; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px; height: 468px; text-align: center; }
.eventer .intro h1 { line-height: 450px; color: white; }
.eventer .with-special-margins h3 { margin-bottom: 0.4em; }
.eventer .with-special-margins p { margin-bottom: 2.5em; }

.like-being-there { display: none; }

@media (min-width: 767px) { .like-being-there { display: block; border: 1px red; position: relative; margin-top: 375px; height: 170px; background-color: #f2f2f2; }
  .like-being-there img { position: absolute; left: 0; right: 0; bottom: 0; z-index: 10; margin: 0 auto; }
  .macbook { position: absolute; top: 0; left: 65%; right: 0; bottom: 0; margin-top: 60px; z-index: 10000; }
  .macbook img { margin-top: 60px auto 0 auto; display: block; max-width: inherit; }
  .extra-margin-for-desktop { margin-top: 70px; } }

@media (min-width: 992px) {}
