h1 { margin: 58px 5% 10px; }

div.projects .project { width: 30%; margin-left: 1.5%; margin-right: 1.5%; }

div.people .person, div.people .tweet { width: 30%; margin-left: 1.5%; margin-right: 1.5%; }

.principles .principle.alt { margin-right: 5%; }

article[role="main"] aside { width: 31%; }

section[role="main"] { margin-right: 40%; }
