@charset "UTF-8";
@font-face { font-family: 'Signal'; src: url("../fonts/signal/signal-no2-d-webfont.eot"); src: local("☺"), url("../fonts/signal/signal-no2-d-webfont.woff") format("woff"), url("../fonts/signal/signal-no2-d-webfont.ttf") format("truetype"), url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg"); }

.project { position: relative; margin-bottom: 70px; }
.project a { display: block; }
.project .hoover { color: white; position: absolute; top: 0; left: 0; width: 80%; height: 80%; padding: 10%; background-color: #f63e5f; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-in-out; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; }
.project:hover .hoover { -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-in-out; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; opacity: 1; }
.project h1 { font-size: 38px; line-height: 1; }

@media (min-width: 767px) { .project { margin-bottom: 20px; } }

@media (min-width: 992px) { .project h1 { margin-top: 130px; } }
