@charset "UTF-8";
@font-face { font-family: 'Signal'; src: url("../fonts/signal/signal-no2-d-webfont.eot"); src: local("☺"), url("../fonts/signal/signal-no2-d-webfont.woff") format("woff"), url("../fonts/signal/signal-no2-d-webfont.ttf") format("truetype"), url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg"); }

.rea .project-intro { background-color: #C8102E; }
.rea .project-intro .logo { position: absolute; width: 242px; top: 50%; left: 50%; margin-left: -121px; margin-top: -121px; }

@media (min-width: 767px) { .product-description { padding-top: 200px; padding-bottom: 140px; }
  .rea .product-image { position: absolute; top: 0; left: 60%; right: 0; bottom: 0; background: url("../images/rea-screen-1.png") no-repeat left center; background-size: 885px; background-position: 90px 90px; } }

@media (min-width: 992px) {}
