@charset "UTF-8";
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

* html .clearfix {
  height: 1%; }

@font-face {
  font-family: 'Signal';
  src: url("../fonts/signal/signal-no2-d-webfont.eot");
  src: local("☺"), url("../fonts/signal/signal-no2-d-webfont.woff") format("woff"), url("../fonts/signal/signal-no2-d-webfont.ttf") format("truetype"), url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg"); }

.signal {
  font-family: Signal; }

body {
  margin: 0 0 0 0;
  padding: 0;
  border: 0;
  color: #323232;
  background-color: #FFF;
  font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif"; }

html > body, h3 {
  font-size: 18px; }

p, li, td {
  font-size: 1em;
  line-height: 1.222em;
  margin-bottom: 1.222em;
  margin-top: 0; }

a {
  color: #4c9af5; }
  a:hover {
    text-decoration: underline; }

h1 {
  text-align: center;
  font-family: "Signal", Helvetica, Arial, "Serif";
  font-size: 32px;
  margin: 58px 0 10px 0; }

h2 {
  font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 13px; }

h3 {
  color: #848484;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px; }

.intro-end, p.visit {
  margin-bottom: 60px; }

p.visit {
  text-align: center;
  font-size: 16px; }
  p.visit a {
    display: inline-block;
    padding: 4px 30px 7px;
    color: white;
    background-color: #4c9af5; }
    p.visit a:hover {
      text-decoration: underline; }

p.centered {
  text-align: center;
  width: 642px;
  margin-left: 168px;
  font-size: 16px;
  margin-bottom: 30px; }

.left, .right {
  width: 444px;
  padding-left: 30px; }

.left {
  float: left; }

.right {
  float: right; }

.align-right {
  text-align: right; }

#mobile {
  display: none; }

header, article[role="main"], footer, .toeser {
  width: 978px; }

header {
  margin: 0 auto;
  background-color: #f63e5f;
  height: 170px;
  padding: 46px 0 0 0; }
  header.home {
    height: 378px; }
    header.home h1 {
      color: white;
      display: block;
      font-size: 60px;
      margin-top: 21px;
      margin-bottom: 63px; }
  header h1 {
    display: none; }
  header a.logo {
    margin: 0 auto 40px;
    display: block;
    width: 111px;
    height: 91px;
    color: transparent; }
  header nav {
    width: 100%;
    background-color: #323232;
    position: relative;
    height: 40px;
    font-family: "Signal", Helvetica, Arial, "Serif";
    color: #cacaca;
    text-align: center; }
    header nav a {
      display: inline-block;
      padding: 0 20px 0 0;
      margin: 11px 12px 0 0;
      height: 0.85em;
      border-right: 1px #f2f2f2 solid;
      color: #cacaca; }
      header nav a:last-child {
        border: none;
        padding: 0 0 0 0; }
      header nav a:active, header nav a.selected {
        color: white; }

.toeser {
  margin: 0 auto;
  background-color: #f63e5f;
  text-align: center; }
  .toeser .copy {
    padding: 30px 0;
    color: white;
    font-size: 16px; }

.principle {
  float: left;
  width: 420px;
  margin: 30px 84px 0 0; }
  .principle.alt {
    margin: 30px 54px 0 0; }
  .principle h2 {
    text-align: left;
    padding: 11px 0 4px 55px;
    background-position: 10px center;
    background-repeat: no-repeat;
    min-height: 32px;
    line-height: 21px; }
    .principle h2.focus {
      background-image: url("../images/icon-focus.gif");
      background-position: 5px center; }
    .principle h2.together {
      background-image: url("../images/icon-together.gif");
      background-position: 5px center; }
    .principle h2.people {
      background-image: url("../images/icon-people.gif"); }
    .principle h2.life {
      background-image: url("../images/icon-life.gif");
      background-position: 5px center; }
    .principle h2.real {
      background-image: url("../images/icon-real.gif"); }
    .principle h2.learning {
      background-image: url("../images/icon-learning.gif"); }

article[role="main"] {
  margin: 0 auto 20px;
  color: #323232; }
  article[role="main"] aside {
    float: right;
    width: 306px;
    padding: 0 84px 0 30px; }
    article[role="main"] aside h1 {
      font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
      font-size: 20px;
      font-weight: normal;
      color: #363636;
      margin: 0 0 6px;
      text-align: left; }
    article[role="main"] aside p {
      font-size: 16px;
      line-height: 1.5em; }

div.projects {
  margin-bottom: 30px; }
  div.projects:first-of-type {
    margin: 60px auto 30px; }
  div.projects .project {
    min-height: 315px;
    float: left;
    width: 246px;
    background-color: #f2f2f2;
    border-bottom: 1px #cacaca solid;
    padding: 30px 30px 0 30px;
    margin-right: 30px; }
    div.projects .project img {
      width: 306px;
      height: 180px;
      margin: -30px 0 30px -30px; }
    div.projects .project:last-child {
      margin-right: 0px; }
    div.projects .project h2 {
      text-align: left; }

section#project_footer {
  clear: both; }
  section#project_footer .project {
    float: left;
    width: 276px;
    padding: 0 30px 0 30px;
    margin-top: 30px; }
    section#project_footer .project:first-child {
      padding-left: 30px;
      width: 246px; }
    section#project_footer .project h2 {
      text-align: left; }

div.people {
  margin: 0 auto 30px; }
  div.people.first {
    margin: 60px auto 30px; }
  div.people .tweet, div.people .person {
    min-height: 286px;
    float: left;
    width: 306px;
    background-color: #f2f2f2;
    border-bottom: 1px #cacaca solid;
    margin-right: 30px; }
    div.people .tweet:last-child, div.people .person:last-child {
      margin-right: 0px; }
  div.people .tweet {
    padding-top: 70px;
    min-height: 222px;
    background-color: #323232; }
    div.people .tweet h2 {
      text-align: left;
      color: #ffeb27;
      font-weight: normal;
      padding: 0 20px; }
      div.people .tweet h2 a {
        color: #ffeb27;
        text-decoration: underline; }
    div.people .tweet span.time {
      padding: 0 20px; }
  div.people .person img {
    width: 100%;
    /*      height: 180px;*/ }
  div.people .person h2 {
    text-align: left;
    margin-bottom: 0;
    padding: 0 20px; }
  div.people .person p {
    padding: 0 20px; }
  div.people .person a {
    display: inline-block;
    background-color: #cacaca;
    width: 46px;
    height: 25px;
    margin: 10px 3px 0 0;
    text-indent: -1000em;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    div.people .person a:hover {
      background-color: #4c9af5; }
    div.people .person a.in {
      background-image: url("../images/icon-linkedin.png"); }
      div.people .person a.in:hover {
        background-image: url("../images/icon-linkedin-over.png"); }
    div.people .person a.twitter {
      background-image: url("../images/icon-twitter.png"); }
      div.people .person a.twitter:hover {
        background-image: url("../images/icon-twitter-over.png"); }
    div.people .person a.blog {
      background-image: url("../images/icon-blog.png"); }
      div.people .person a.blog:hover {
        background-image: url("../images/icon-blog-over.png"); }

span.time {
  display: inline-block;
  vertical-align: center;
  color: #cacaca; }

section[role='main'] {
  font-size: 16px;
  line-height: auto;
  width: 558px;
  margin-right: 420px;
  margin-bottom: 30px;
  border-right: 1px white solid;
  color: #FFF; }
  section[role='main'].content {
    color: #323232; }
    section[role='main'].content h2 {
      text-align: left; }
  section[role='main'] h1 {
    font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
    color: #ffeb27;
    text-align: left;
    font-size: 24px;
    line-height: auto;
    font-weight: lighter;
    vertical-align: center;
    margin: 0; }
  section[role='main'] .post {
    position: relative;
    background-color: #FFF;
    margin: 0 0 -6px 0;
    overflow: visible; }
    section[role='main'] .post img {
      width: 100%; }
    section[role='main'] .post.status {
      background-color: #a81367; }
    section[role='main'] .post.quote {
      height: auto;
      width: 420px;
      padding: 30px 84px 30px 54px;
      background-color: #333; }
      section[role='main'] .post.quote p {
        padding: 0 10px;
        font-size: 32px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0; }
        section[role='main'] .post.quote p span.attribution {
          font-size: 18px;
          line-height: 24px;
          color: #adadad; }
    section[role='main'] .post .caption {
      position: absolute;
      bottom: 6px;
      height: 30px;
      width: 100%; }
      section[role='main'] .post .caption p {
        padding: 4px 30px 7px 54px;
        color: #cacaca; }
    section[role='main'] .post .transparent-box {
      position: absolute;
      height: 30px;
      bottom: 6px;
      width: 100%;
      background-color: #323232;
      opacity: 0.9;
      font-weight: normal; }

article.thread section[role='banner'] h1 {
  color: #A81367; }

.lined {
  margin: 0 auto;
  border-top: 1px #cacaca solid; }
  .lined.grey {
    background-color: #f2f2f2; }
    .lined.grey .left, .lined.grey .right {
      margin-top: 24px; }

footer span.name {
  display: inline-block;
  text-align: left;
  width: 60px; }

a {
  text-decoration: none; }

ul, ol {
  margin-left: 0;
  padding-left: 30px; }

ul li {
  list-style: disc;
  margin-left: 0em; }

ol li {
  list-style: normal;
  margin-left: 1.5em; }

@media (max-width: 478px) {
  header, article[role="main"], footer, .toeser {
    width: 300px; }

  h1 {
    margin: 58px 12px 10px 12px; }

  p.centered {
    width: auto;
    margin-left: 0px; }

  header {
    height: 95px;
    padding-top: 20px; }
    header.home {
      height: 95px; }
      header.home h1 {
        display: none; }
    header a.logo {
      margin: 0 auto 20px;
      width: 73px;
      height: 62px; }
      header a.logo img {
        width: 73px;
        height: 62px; }
    header nav a {
      padding: 0 10px 0 0;
      margin: 11px 2px 0 0; }

  footer {
    display: none; }

  .toeser .copy {
    padding: 6px 12px 100px;
    text-align: left; }

  .left, .right {
    width: auto;
    padding: 0 12px; }

  .principle {
    float: none;
    width: auto;
    margin: 30px 12px 0 12px; }

  div.people, div.people.first {
    margin-bottom: 0px; }
    div.people .tweet, div.people .person, div.people.first .tweet, div.people.first .person {
      float: none;
      width: 300px; }
    div.people .tweet, div.people.first .tweet {
      min-height: initial;
      padding: 30px 0; }

  section#project_footer .project {
    width: 276px;
    padding: 0 12px 0 12px; }
    section#project_footer .project:first-child {
      padding-left: 30px;
      width: 246px; }

  article[role="main"] aside {
    float: none;
    width: auto;
    padding: 0 12px 0 0; }
  article[role="main"] section[role="main"] {
    width: auto;
    margin-right: 0px; }
    article[role="main"] section[role="main"] .post img {
      width: 100%; }
    article[role="main"] section[role="main"] .post.quote {
      height: auto;
      width: auto;
      padding: 30px 12px 30px 12px;
      background-color: #333; }
    article[role="main"] section[role="main"] .post .caption p {
      padding: 4px 12px 7px 12px; }

  article#home {
    margin-bottom: 0px; }
    article#home #mobile {
      display: block;
      border-bottom: 1px #cacaca solid; }
      article#home #mobile h1 {
        font-size: 35px;
        margin-bottom: 0px; }
      article#home #mobile p {
        font-size: 30px;
        border-top: 1px #cacaca solid;
        background-color: #f2f2f2;
        margin-bottom: 0px;
        padding: 20px 12px 25px 12px; }
        article#home #mobile p:last-of-type {
          font-size: 20px; }
    article#home h1 {
      font-size: 20px; }
      article#home h1.goals {
        display: none; }
      article#home h1 br {
        display: none; }
    article#home div.principle {
      display: none; }
    article#home section#projects h2 {
      display: none; }
    article#home section#projects p.visit {
      display: none; }
    article#home section#projects div.projects {
      margin-bottom: 0px; }
      article#home section#projects div.projects .project {
        min-height: 100px;
        width: 276px;
        padding: 30px 12px 0 12px;
        border-bottom: 0px;
        border-top: 1px #cacaca solid; }
        article#home section#projects div.projects .project h2 {
          display: block;
          margin-bottom: 4px; }
        article#home section#projects div.projects .project img {
          display: none; }
    article#home section#people {
      display: none; } }
