@charset "UTF-8";
@font-face { font-family: 'Signal'; src: url("../fonts/signal/signal-no2-d-webfont.eot"); src: local("☺"), url("../fonts/signal/signal-no2-d-webfont.woff") format("woff"), url("../fonts/signal/signal-no2-d-webfont.ttf") format("truetype"), url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg"); }

.thread .project-intro { background: url("../images/thread-bg.jpg") no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/thread-bg.jpg, sizingMethod='scale')"; }
.thread .product-description { padding-top: 160px; }
.thread .thread-icon { position: absolute; z-index: 100; width: 114px; left: 50%; bottom: -57px; margin-left: -57px; }
.thread section.before-icon { position: relative; padding-bottom: 110px; }
.thread section.after-icon { padding-top: 130px; }

@media (min-width: 992px) { .thread .product-image { position: absolute; top: 0; left: 60%; right: 0; bottom: 0; background: url("../images/thread-ipad.png") no-repeat left center; background-size: 775px; background-position: 90px 35px; } }
