@import "../variables.css.scss";
@media (max-width: 978px) {

  header, article[role="main"], footer, .toeser {
    width: 76.482%;
  }

  h1 {
    font-size: 30px;
    br {
      display: none;
    }
  }

  h2 {
    font-size: 20px;
  }

  header {
    &.home {
      h1 {
        font-size: 48px;
        margin-bottom: 44px;
      }
    }
  }

  .principles {
    .principle {
      width: 40.106%;
      margin: 0 11.229% 0 0;
    }
  }

  div.projects {
    margin: 60px 0 30px 0;
    .project {
      float: none;
      width: 65.775%;
      margin: 0 auto 30px;
      &:nth-child(3n) {
        margin-right: auto;
      }

      img {
        width: 100%;
      }
      &:last-child {
        margin: 0 auto 30px;
      }
    }
  }

  div.people {
    //margin: 60px 0 30px 0;
    div:nth-child(3n) {
      margin-right: auto;
    }
    .tweet {
      //min-height: 180px;
      h2, span.attribution {
        //padding: 0 30px;
      }
    }
    .person, .tweet {
      height: auto;
      float: none;
      width: 65.775%;
      margin: 0 auto 30px;
      img {
        width: 100%;
        height: initial;
      }
      &:last-child {
        //margin: 0 auto 30px;
      }
    }
  }

  article[role="main"] {
    aside {
      width: 65.755%;
      float: none;
      margin: 0 auto;
    }
    section[role="main"] {
      width: 71.247%;
      margin: 0 auto 60px;
    }
  }

  .hero {
    position: relative;
    width: auto;
    right: initial;
    top: initial;
    background-color: $color-black;
    img {
      width: 100%;
    }
    h2 {
      font-size: 20px;
      padding: 30px;
      color: $color-yellow;
    }
  }


}
