@import "../variables.css.scss";
@media (max-width: 478px) {

  header, article[role="main"], footer, .toeser {
    width: 300px;
  }

  h1 {
    margin: 58px 12px 10px 12px;
    font-size: 24px;
    &.goals {
      display: none;
    }
    br {
      display: none;
    }
  }

  h2 {
    font-size: 18px;
  }

  p.centered {
    width: auto;
    margin-left: 0px;
  }

  header {
    width: 100%;
    height: 95px;
    padding-top: 20px;
    &.home {
      height: 95px;
      h1 {
        display: none;
      }
    }
    a.logo {
      margin: 0 auto 20px;
      width: 73px;
      height: 62px;
      img {
        width: 73px;
        height: 62px;
      }
    }
    nav {
      a, a:link, a:visited, a:active {
        padding: 0 15px 0 0;
        margin: 11px 10px 0 0;
      }
    }
  }

  footer {
    display: none;
  }

  .toeser {
    width: 100%;
    .copy {
      width: 300px;
      margin: 0 auto;
      position: relative;
      padding: 6px 0 100px;
      text-align: left;
      .top {
        position: absolute;
        padding: 6px 12px;
        top: 0;
        right: 0;
        display: block;
        a {
          color: $color-white;
          text-decoration: underline;
        }
      }
    }
  }

  .left, .right {
    width: auto;
    padding: 0 12px;
  }

  .principles {
    padding: 0 0;
    .principle, .principle.alt {
      float: none;
      width: auto;
      margin: 30px 12px 0 12px;
    }
  }

  div.people, div.people.first {
    margin: 60px 0 0 0;
    .tweet, .person {
      float: none;
      height: auto;
      width: 300px;
      margin: 10px 0;
    }
    .tweet {
      min-height: initial;
      padding: 30px 0;
    }
    .person {
      h2 {
        padding: 10px 20px 0;
      }
    }
  }

  div.projects .project {
    width: 300px;
    min-height: initial;
    margin-bottom: 0px;
    .hero-image {
      height: initial;
    }
    img {
      width: 100%;
    }
  }

  section#project_footer {
    .project {
      margin-top: 0px;
      width: 276px;
      padding: 20px 12px 0 12px;
      border-top: 1px $color-mid-grey solid;
      &:first-child {
        border-top: none;
        padding: 20px 12px 0 12px;
        width: 246px;
      }
    }
  }

  article[role="main"] {
    aside {
      float: none;
      width: auto;
      padding: 0 12px 0 0;
      margin-left: 0px;
    }
    section[role="main"] {
      width: auto;
      margin-right: 0px;
      margin-left: 0px;
      .post {
        img {
          width: 100%;
        }
        &.quote {
          height: auto;
          width: auto;
          padding: 40px 12px 40px 12px;
          background-color: #333;
          span.attribution {
            margin-bottom: 1.0em;
          }
        }
        .transparent-box {
          display: none;
        }
        .caption {
          background-color: $color-black;
          opacity: 0.9;
          height: initial;
          p {
            color: $color-white;
            padding: 4px 12px 7px 12px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .hero {
    position: relative;
    width: 300px;
    right: initial;
    top: initial;
    background-color: $color-black;
    img {
      width: 100%;
    }
    h2 {
      font-size: 20px;
      padding: 30px;
      color: $color-yellow;
    }
  }

  article#home {
    margin-bottom: 0px;

    #mobile {
      display: block;
      border-bottom: 1px $color-mid-grey solid;
      margin-top: 30px;
      h1 {
        font-size: 24px;
        margin-bottom: 0px;
      }
      p {
        &:first-of-type {
          margin-top: 30px;
        }
        &:last-of-type {
          font-size: 20px;
        }
        font-size: 24px;
        border-top: 1px $color-mid-grey solid;
        background-color: $color-light-grey;
        margin-bottom: 0px;
        padding: 20px 12px 25px 30px;
      }
    }

    h1 {
      font-size: 24px;
      &.goals {
        display: none;
      }
      br {
        display: none;
      }
    }

    div.principle {
      display: none;
    }

    section#projects {
      h2 {
        display:none;
      }
      p.visit {
        display: none;
      }
      div.projects {
        margin-bottom: 0px;
        width: 300px;
        padding: 0 0 30px 0;
        .project {
          h2 {
            display: block;
            margin-bottom: 4px;
          }
          margin: 0px;
          min-height: 100px;
          width: 276px;
          padding: 0 12px 0 12px;
          border-bottom: 0px;
          border-top: 1px $color-mid-grey solid;
        }
      }
    }

    section#people {
      display: none;
    }

  }

}
