---
layout: "../_layout/_main.html.haml"
join_page_alt: true
...
%article{ :role => "main" }
  #gs-overlay
    &nbsp;

  %h1 
    Is your passion is to create useful experiences 
    %br
    as a user-centred designer? Let's talk

  %section.content{ :role => "main" }