---
role: Designer
layout: "../_layout/_main.html.haml"
join_page_alt: true
...
%article{ :role => "main" }

  %h1 
    Quickest draw in town with a sharpie,
    %br
    creative and goal-focused
  
  %section.content{ :role => "main" }

    %p Our designers get to work with developers on interesting projects, and get stuff done. We reckon this makes for high job satisfaction, and in time to head home and enjoy life.
  
    %h2
      Your passion is for what is valuable and useful.
      
    %p
      On the core UX front, you'll have skills in interaction design, information architecture, usability and using various research techniques to interpret user needs. You are happiest when sketching and iterating in lightweight forms, such as on whiteboards, paper, or pairing with a developer to tweak the UI together. You'd prefer to discuss your ideas with a marker pen in hand than produce a detailed spec. 

    %p
      You have a creative and inventive streak, which gives you the ability to come up with fresh solutions to each user need. You have a background in various types of applications, such as content rich websites, mobile applications, business efficiency tools, social tools, etc. In that, you've had some decent exposure to various industries and different business problems. While refining existing applications to improve them is comfortable for you, you're not intimidated by a blank sheet of paper as a start point either. Your focus is firmly on your end user, but you have solid exposure to thinking about the commercial goals as part of each design. 
    
    %p 
      With all of the above: experience is ideal, but not at the cost of design instinct. If you're well-grounded with UX experience, and also a naturally creative person, then great. If you're someone who has years of research theory but haven't seen through to shipping the product then perhaps this isn't the place for you.
   
    %h2 
      What do you get?

    %p We’ll offer a fair market salary for your skills and the usual perks for covering phone calls and internet access. More importantly, we’ll provide a transparent positive workplace, a team that collaborates by habit, open honest customer relationships, and great projects to work on that you can be proud of.

    %p The way we run the company internally is quite different. We have a policy of being totally open with our employees, so we share all company related information, including people’s salary and company financial information. We think that if the company does well, it’s because of the work of all of our staff, so we share a portion of our profits amongst everyone.

    .hero
      %img{ :src => href("/images/job-designer.jpg") }
      %h2
        We’ll provide a transparent and positive workplace, a team that collaborates by habit, customer relationships that are open and honest, and great projects to work on that you can be proud of.
