---
role: Developer
layout: "../_layout/_main.html.haml"
join_page_alt: true
...
%article{ :role => "main" }


  %h1 
    Are you a gun developer?

  %section.content{ :role => "main" }

    %h2 Skills checklist not required, but you'll need to deliver.
  
    %p Our bread and butter comes from working with clients to design and develop successful web and mobile products, or to augment the development teams of our customers to help them build great applications.  Our work is mostly Ruby based, but many of our team came from other development backgrounds, so we appreciate that applicants without much commercial Ruby experience may be valid.  

    %p Building good relationships is very important to us, so we expect everyone to be personable and to communicate very well. If you’re uncomfortable about that, please don’t apply. Cogent isn’t the place to learn those skills on the fly.  Our customers work side by side with our delivery teams in the same space, so dealing with people in a friendly manner is important.

    %p We demand high levels of technical skill too.  We've mentioned before that counting years of experience or listing qualifications isn't useful to us.  We want to know about your track record of delivery instead.  If you're really hoping to impress, we also want to know what open source projects you've committed to, what conferences you've presented at, what user groups you attend at, what blogs you read, who you follow on twitter, what books you've read recently and who the influencing industry luminaries are on your career.

    %h2 What do you get?

    p% We’ll offer a fair market salary for your skills and the usual perks for covering phone calls and internet access. More importantly, we’ll provide a transparent positive workplace, a team that collaborates by habit, open honest customer relationships, and great projects to work on that you can be proud of.  

    %p The way we run the company internally is quite different. We have a policy of being totally open with our employees, so we share all company related information, including people’s salary and company financial information. We think that if the company does well, it’s because of the work of all of our staff, so we share a portion of our profits amongst everyone.

    .hero
      %img{ :src => href("/images/job-developer.jpg") }
      %h2
        We’ll provide a transparent and positive workplace, a team that collaborates by habit, customer relationships that are open and honest, and great projects to work on that you can be proud of.


