---
role: Developer
layout: "../_layout/_main.html.haml"
join_page_alt: true
...
%article{ :role => "main" }


  %h1 
    Are you a gun developer in Ruby or Java?

  %section.content{ :role => "main" }