---
role: Producer
layout: "../_layout/_main.html.haml"
join_page_alt: true
...
%article{ :role => "main" }


  %h1 
    We are on the lookout for a smart
    %br
    and diversely talented producer

  %section.content{ :role => "main" }
  
    %h2 
      To be great in this role, here is a bunch of things that will be second nature to you.

    %ul
      %li Facilitate and collaborate with business experts to identify objectives, and to flesh out key principles for a new product.
      %li Explore concepts for how to deliver on the goals, by working closely with both the customer, and with user experience designers.
      %li Communicate and keep the project strategy clear while guiding the team to deliver, working closely with designers and developers.
      %li Act on behalf of our customer and work with them to prioritise effort and provide advice on changes as new needs emerge.
      %li Manage project delivery expectations by planning out major releases, and by writing, discussing and reviewing story cards.
      %li Present working software regularly to customer stakeholders, and confidently help to keep them clear on the focus of the project.
      %li Maintain a monthly budget to ensure activity falls within expected plan.

    %h2
      What’s the main responsibility?

    %p Ultimately, the buck stops with you. If our customer sets us a goal (such as “increase sales conversion on our website”) then it’s up to you to make that happen.

    %p To do that, you’ll be expected to cultivate a great relationship with the primary customer representative, and to earn their trust by learning their business inside out. It’s with that insight and knowledge that you can guide the Cogent team to meet their goals.

    %p In practical terms, you need to have some solid experience to draw on. You will have:
    
    %ul
      %li Delivered multiple digital projects to market including to incept, guide and deliver
      %li Examples of successful projects where the customer/business met their goals thanks to your work
      %li At least 8 years in digital product-related roles
      %li Worked in multiple industries, and can articulate challenges and demonstrate strategic thinking in a number of these
      %li Been responsible for guiding user experience designers and developers, using agile methodologies
    
    %p To add to the kit bag, you’ll be a good communicator, have high integrity, care genuinely about what the objective of the project is, and be confident learning and operating in new business domains.

    %h2 
      What do you get?

    %p We’ll offer a fair market salary for your skills and the usual perks for covering phone calls and internet access. More importantly, we’ll provide a transparent positive workplace, a team that collaborates by habit, customer relationships that are open and honest, and great projects to work on that you can be proud of.

