@media (max-width: 978px) { header, article[role="main"], footer, .toeser { width: 748px; }
  h1 { font-size: 30px; }
  h2 { font-size: 20px; }
  p.centered { width: 620px; margin-left: 65px; }
  .left, .right { width: 334px; }
  header.home h1 { font-size: 48px; margin-bottom: 44px; }
  .principles .principle { width: 300px; margin: 0 84px 0 0; }
  div.projects { margin: 60px 0 30px 0; }
  div.projects .project { float: none; width: 492px; margin: 0 auto 30px; }
  div.projects .project img { width: 100%; height: initial; }
  div.projects .project:last-child { margin: 0 auto 30px; }
  div.people { margin: 60px 0 30px 0; }
  div.people .tweet { min-height: 180px; }
  div.people .tweet h2, div.people .tweet span.attribution { padding: 0 30px; }
  div.people .person, div.people .tweet { height: auto; float: none; width: 492px; margin: 0 auto 30px; }
  div.people .person img, div.people .tweet img { width: 100%; height: initial; }
  div.people .person:last-child, div.people .tweet:last-child { margin: 0 auto 30px; }
  article[role="main"] aside { float: none; width: 492px; margin-left: 98px; }
  article[role="main"] section[role="main"] { width: 492px; margin-right: 0; margin-left: 128px; }
  .hero { position: relative; width: 492px; right: initial; top: initial; background-color: #323232; }
  .hero img { width: 100%; }
  .hero h2 { font-size: 20px; padding: 30px; color: #ffeb27; } }
