@media (max-width: 478px) { header, article[role="main"], footer, .toeser { width: 300px; }
  h1 { margin: 58px 12px 10px 12px; font-size: 24px; }
  h1.goals { display: none; }
  h1 br { display: none; }
  h2 { font-size: 18px; }
  p.centered { width: auto; margin-left: 0px; }
  header { width: 100%; height: 95px; padding-top: 20px; }
  header.home { height: 95px; }
  header.home h1 { display: none; }
  header a.logo { margin: 0 auto 20px; width: 73px; height: 62px; }
  header a.logo img { width: 73px; height: 62px; }
  header nav a, header nav a:link, header nav a:visited, header nav a:active { padding: 0 15px 0 0; margin: 11px 10px 0 0; }
  footer { display: none; }
  .toeser { width: 100%; }
  .toeser .copy { width: 300px; margin: 0 auto; position: relative; padding: 6px 0 100px; text-align: left; }
  .toeser .copy .top { position: absolute; padding: 6px 12px; top: 0; right: 0; display: block; }
  .toeser .copy .top a { color: white; text-decoration: underline; }
  .left, .right { width: auto; padding: 0 12px; }
  .principles { padding: 0 0; }
  .principles .principle, .principles .principle.alt { float: none; width: auto; margin: 30px 12px 0 12px; }
  div.people, div.people.first { margin: 60px 0 0 0; }
  div.people .tweet, div.people .person, div.people.first .tweet, div.people.first .person { float: none; height: auto; width: 300px; margin: 10px 0; }
  div.people .tweet, div.people.first .tweet { min-height: initial; padding: 30px 0; }
  div.people .person h2, div.people.first .person h2 { padding: 10px 20px 0; }
  div.projects .project { width: 300px; min-height: initial; margin-bottom: 0px; }
  div.projects .project .hero-image { height: initial; }
  div.projects .project img { width: 100%; }
  section#project_footer .project { margin-top: 0px; width: 276px; padding: 20px 12px 0 12px; border-top: 1px #cacaca solid; }
  section#project_footer .project:first-child { border-top: none; padding: 20px 12px 0 12px; width: 246px; }
  article[role="main"] aside { float: none; width: auto; padding: 0 12px 0 0; margin-left: 0px; }
  article[role="main"] section[role="main"] { width: auto; margin-right: 0px; margin-left: 0px; }
  article[role="main"] section[role="main"] .post img { width: 100%; }
  article[role="main"] section[role="main"] .post.quote { height: auto; width: auto; padding: 40px 12px 40px 12px; background-color: #333; }
  article[role="main"] section[role="main"] .post.quote span.attribution { margin-bottom: 1.0em; }
  article[role="main"] section[role="main"] .post .transparent-box { display: none; }
  article[role="main"] section[role="main"] .post .caption { background-color: #323232; opacity: 0.9; height: initial; }
  article[role="main"] section[role="main"] .post .caption p { color: white; padding: 4px 12px 7px 12px; margin-bottom: 0; }
  .hero { position: relative; width: 300px; right: initial; top: initial; background-color: #323232; }
  .hero img { width: 100%; }
  .hero h2 { font-size: 20px; padding: 30px; color: #ffeb27; }
  article#home { margin-bottom: 0px; }
  article#home #mobile { display: block; border-bottom: 1px #cacaca solid; margin-top: 30px; }
  article#home #mobile h1 { font-size: 24px; margin-bottom: 0px; }
  article#home #mobile p { font-size: 24px; border-top: 1px #cacaca solid; background-color: #f2f2f2; margin-bottom: 0px; padding: 20px 12px 25px 30px; }
  article#home #mobile p:first-of-type { margin-top: 30px; }
  article#home #mobile p:last-of-type { font-size: 20px; }
  article#home h1 { font-size: 24px; }
  article#home h1.goals { display: none; }
  article#home h1 br { display: none; }
  article#home div.principle { display: none; }
  article#home section#projects h2 { display: none; }
  article#home section#projects p.visit { display: none; }
  article#home section#projects div.projects { margin-bottom: 0px; width: 300px; padding: 0 0 30px 0; }
  article#home section#projects div.projects .project { margin: 0px; min-height: 100px; width: 276px; padding: 0 12px 0 12px; border-bottom: 0px; border-top: 1px #cacaca solid; }
  article#home section#projects div.projects .project h2 { display: block; margin-bottom: 4px; }
  article#home section#people { display: none; } }
