@import "./variables.css.scss";

.eventer {
  .eventer-storywall {
    padding:0;
    height: 426px;
    width: 100%;
    background: url('../images/eventer-storywall.jpg') no-repeat center center;
    background-size: cover;
  }

  .intro {
    @include image-background("../images/eventer-background.jpg");
    padding-top: 0px;
    padding-bottom:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 468px;
    text-align: center;

    h1 {
      line-height: 450px;
      color: white;
    }
  }
}

.like-being-there {
  display: none;
}

@media (min-width: 767px) {
  .like-being-there {
    display:block;
    border: 1px red;
    position: relative;
    margin-top: 375px;
    height: 170px;
    background-color: $color-light-grey;

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin: 0 auto;
    }
  }

  .macbook {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    z-index:10000;

    img {
      margin-top: 60px auto 0 auto;
      display: block;
      max-width: inherit;
    }
  }
}

@media (min-width: 992px) {}