@import "./variables.css.scss";

.eventer {
  .eventer-storywall {
    height: 480px;
    width: 100%;
    background: url('../images/eventer-storywall.jpg') no-repeat center center;
    background-size: cover;
  }

  ul.events-list {
    margin-bottom: 60px;
    li {
      display: inline-block;
      margin: 0 12px;
    }
  }

  .intro {
    @include image-background("../images/eventer-background.jpg");
    padding-top: 0px;
    padding-bottom:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 468px;
    text-align: center;

    h1 {
      line-height: 450px;
      color: white;
    }
  }
}

@media (max-width: 767px) {}

@media (min-width: 992px) {
  .like-being-there {
    border: 1px red;
    position: relative;
    margin-top: 459px;
    height: 170px;
    background-color: $color-light-grey;
  
    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin: 0 auto;
    }
  }
}