@import "./variables.css.scss";
.hooroo {
  .product-intro {
    @include image-background("../images/hooroo-bg.jpg");
  }

  .image-space {
    padding:0;
    height: 440px;
    width: 100%;
    background: url('../images/hooroo-image-space.jpg') no-repeat center center;
    background-size: cover;
  }

  .grey-background-with-image { padding-bottom:0; }
  .airplane-small {
    img {
      width:310px;
    }
  }
}
@media (min-width: 767px) {
  .hooroo {

    .grey-background-with-image {
      padding-bottom: 80px;
      min-height: 450px;
    }
    .airplane {
      position: absolute;
      top: 200px;
      right: -280px;

      img {
        width:767px;
        margin-top: 60px auto 0 auto;
        display: block;
        max-width: inherit;
      }
    }
  }
}

@media (min-width: 992px) {
  .hooroo {
    .airplane {
      top: 100px;
      right: -375px;

      img {
        width:1092px;
      }
    }
  }
}
