@import "./variables.css.scss";

.readtime {
  .more {
    padding-bottom: 0;

    .bottom {
      text-align:center;

      img {
        display:inline-block;
      }
    }
  }

  .separator {
    color: $color-watermelon;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }

  .full-logo {
    width:308px;
    padding-top: 40px;
    padding-bottom:60px;
  }

  .video-background {
    display:none;
    video {
      width:100%;
      margin-bottom:-5px;
    }

    .video-fallback-for-ios {
      display:block;
    }
  }

  .white-on-blue {
    padding-top: 35px;
    padding-bottom: 35px;

    a { margin-top: 35px; }

    hr {
      margin: 45px 0;
      border:0;
      border-top:1px solid $color-light-blue;
    }
  }
}

@media (min-width: 767px) {
  .readtime {
    .extra-margin-for-desktop {
      margin-top:90px;
    }
  }
}

@media (min-width: 992px) {
  .readtime {
    .readtime-iphone {
      position: absolute;
      top: 0;
      left: 65%;
      right: 0;
      bottom: 0;
      background: url("../images/readtime-iphone.png") no-repeat left center;
      background-size: 480px;
      background-position: 90px 35px;
    }

    .video-background {
      display:block;
      margin-top:-40px;
      height: 560px;
    }

    .video-fallback-for-ios {
      display:none;
    }
  }
}

@media (min-width: 1600px) {
  .readtime {
    .video-background {
      height: 800px;
    }
  }
}