@import "./variables.css.scss";

.redbubble {
  .project-intro {
    background-color:#F04D47;
    .logo {
      position:absolute;
      width:242px;
      top:50%;
      left:50%;
      margin-left:-121px;
      margin-top:-121px;
    }
  }
}

@media (min-width: 767px) {
  .product-description {
    padding-top: 200px;
    padding-bottom: 140px;
  }
  .redbubble {
    .product-image {
      position: absolute;
      top: 0;
      left: 60%;
      right: 0;
      bottom: 0;
      background: url("../images/redbubble-screen-1.png") no-repeat left center;
      background-size: 885px;
      background-position: 90px 90px;
    }
  }
}

@media (min-width: 992px) {}

