@import "./variables.css.scss";

/* Typography */

body, h2, h3, h4, h5, h6 {
  @include avenir-font;
  font-weight: 100;
}

body {
  @include avenir-font;
  font-size: 16px;
}

h1 {
  @include signal-font;
  text-transform: uppercase;
  color: inherit;
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: inherit;
  line-height: 32px;
  padding: 15px 0;
  margin-bottom: 20px;
  color: $color-gray;
}

.small-font {
  font-size: 18px;
}

a {
  -o-transition:color .1s ease-out, background .1s ease-in;
  -ms-transition:color .1s ease-out, background .1s ease-in;
  -moz-transition:color .1s ease-out, background .1s ease-in;
  -webkit-transition:color .1s ease-out, background .1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .1s ease-out, background .1s ease-in;
  color: $color-blue-background;

  &:hover {
    text-decoration: none;
    color: $color-link-dark-blue;
  }
}

/* Layout */

body {
  margin: 0px;
  padding:0px;
}

.navbar-fixed-top {
  margin-bottom: 0;
  background-color: #fff;
  border: 2px solid $color-grey-background;
}

section {
  background-color:white;
  >  .with-image img {
    margin-top: 30px;
     margin-bottom: 60px;
  }
}

header, section, footer {
  padding: 40px 45px;
}

.copyright {
  margin-top:4em;
  font-size: 14px;
  color: #c0c0c0;
}

.nav-bar {
  font-size: 16px;

  > div {
    text-align: center;
    line-height: 90px;
    vertical-align: middle;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 76px;
    height: 41px;
    background: url("../images/logo.png") no-repeat center center;

    &:hover {
      background: url("../images/logo_hover.png") no-repeat center center;
    }
  }

  ul.nav {
    margin: 0 auto;
    width: 100%;

    > li {
      display: inline-block;
      text-transform: uppercase;
      padding: 0 25px;

      a, a:visited {
        @include signal-font;
        color: $color-black;

        &.selected {
          color: $color-watermelon;
        }

        &:hover {
          color: $color-watermelon;
          background-color: #fff;
        }
      }
    }
  }
}

footer {
  color: $color-gray;
  h2 {
    color: $color-black;
  }
}

.button {
  @include signal-font;
  display: inline-block;
  padding: 4px 23px 0 23px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
  }

  &.blue {
    background-color: $color-blue-background;
    color: #fff;

    &:hover {
      background-color: $color-link-dark-blue;
    }
  }

  &.grey {
    background-color: $color-light-grey;
    color: $color-dark-grey;

    &:hover {
      background-color: $color-link-dark-blue;
      color: #fff;
    }
  }
}

.red-white {
  width: auto;
  background-color: $color-watermelon;
  color: #fff;

  h2 {
    color: #fff;
  }
}

.gray-background {
  background-color: $color-grey-background;
  position: relative;
}

.grey-background-with-image {
  @extend .gray-background;
  min-height: 449px;
  overflow:hidden;
}

.dark-background {
  color: $color-mid-grey;
  p {
    color: $color-mid-grey;
  }
}

.white-on-blue {
  background-color: $color-blue-background;
  color: #fff;
  text-align: center;
}

.dark-blue { color: $color-dark-blue; }

.desktop {
  display: none;
}

.centered {
  text-align:center;
}
.contact td {
  width:200px;
}

ul.contact {
  li {
    padding: 15px 0;
  }
}

.product-description {
  padding-top: 220px;
  padding-bottom: 220px;
}

/* Home page */
.apps-that-work {
  height: auto;
  @include image-background("../images/apps-that-work.jpg");
}

.products-anchor { padding-top: 90px; }

.products {
  background-color: $color-grey-background;
  padding: 40px 0;

  h2 {
    text-align:center;
  }

  .product {
    text-align: center;
  }
}

.products-grid {
  text-align: center;
  background-color: #fff;
  margin: 42px 0 18px 0;

  a {
    position: relative;
    border: 1px solid lightgray;
    display: inline-block;
    width: 280px;
    height: 200px;
    margin: 12px 0;
    vertical-align: middle;
    text-align: center;

    &.show-more {
      border: 1px solid grey;
      height: auto;
      padding: 20px 0;
      text-transform: uppercase;
      color: #2c2c2c;
    }

    &.optional {
      display: none;
    }

    img {
      display: inline-block;
      margin: 15% auto;
    }

    .red-white {
      text-transform: uppercase;
      display: none;
      position: absolute;
      padding: 20px 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-watermelon;
      color: #fff;

      h3 {
        @include signal-font;
        color: #fff;
        margin: 21% auto;
      }
    }
  }
}

ul.roles {
  margin-top: 46px;
  li {
    position: relative;
    margin-bottom: 2px;
    background-color: $color-light-grey;

    h3 {
      margin: 31px 0 5px 40px;
      color: $color-black;
    }

    .small-font {
      margin: 5px 0 31px 40px;
      color: $color-gray;
    }

    a {
      margin-top: 46px;
    }
  }
}

// REA page
.rea {
  .intro.image-background {
    height: 400px;
    @include image-background("../images/rea-background.png");
  }
  .cards.image-background {
    height: 400px;
    @include image-background("../images/rea-cards.png");
  }
}

/* Tablets > 768px */
@media (min-width: 768px) {

  body {
    margin: 0px;
    padding: 0px;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h2 {
    font-size: 28px;
    line-height: 43px;
  }

  h3 {
    font-size: 20px;
    line-height: 36px;
  }

  header {
    h1, h2 {
      margin: 20px 0;
    }
  }

  section, header {
    padding: 80px 0 80px 0;
  }

  footer {
    line-height: 32px;
    padding-top: 90px;
  }

  body { font-size: 18px; }

  .mobile, a.mobile {
    display: none;
  }
  .nav-bar {
    > div { text-align: left }
    ul.nav {
      float: right;
      width: auto;
    }
  }

  .desktop {
    display: inherit;
  }

  .macbook img {display: none};

  .products {
    background-color:#fff;
  }

  .products-grid a {
    margin: 4px;

    &.optional {
      display: inline-block;
    }
  }
}

/* Desktops > 992px */

@media (min-width: 992px) {
  body {
    margin: 0;
    padding: 94px 0 0 0;
  }

  .nav-bar {
    .logo { margin-left: 20px }
  }

  .button {
    padding-left: 43px;
    padding-right: 43px;
  }

  .macbook {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    margin-top: 60px;

    img {
      margin-top: 60px auto 0 auto;
      display: block;
      max-width: inherit;
    }
  }

  .rea-side-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 65%;
    background: url("../images/macbook-home.png") no-repeat left center;
  }

  margin-top: -34px;
  margin-left: -160px;
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    .container { width: auto; }
    border: none;
  }

  ul.roles {
    li {
      h3 {
        line-height: 60px;
        vertical-align: middle;
        margin: 0 0 0 30px;
        display: inline-block;
      }
      a {
        margin: 15px 10px 0 10px;
        padding: 0 20px;
        position: relative;
        display: inline-block;
        float: right;
        background: url("../images/join_list_button.png") no-repeat center center;

        &.blue, &.blue:hover {
          background-color: inherit;
        }

      }
    }
  }
}

//div, section, p { border: 1px solid red; }