@import "./variables.css.scss";

/* Typography */

body, h2, h3, h4, h5, h6 {
  @include avenir-font;
  font-weight: 100;
}

body {
  font-size: 18px;
}

h1 {
  @include signal-font;
  text-transform: uppercase;
  color: inherit;
}

h3 {
  color: $color-gray;
}

p {
  font-size: inherit;
  line-height: 36px;
  padding: 15px 0;
  margin-bottom: 20px;
  color: $color-gray;
}

.small-font {
  font-size: 18px;
}

a {
  -o-transition:color .1s ease-out, background .1s ease-in;
  -ms-transition:color .1s ease-out, background .1s ease-in;
  -moz-transition:color .1s ease-out, background .1s ease-in;
  -webkit-transition:color .1s ease-out, background .1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .1s ease-out, background .1s ease-in;
  
  color: $color-blue-background;

  &:hover {
    text-decoration: none;
    color: $color-link-dark-blue;
  }
}

/* Layout */

.navbar-fixed-top {
  background-color: #fff;
  border: 2px solid $color-grey-background;
}

body {
  @include avenir-font; 
  font-size: 16px;
}

.copyright { 
  margin-top:4em;
  font-size: 14px;
  color: #c0c0c0;
}

.nav-bar {
  font-size: 16px;

  > div {
    text-align: center;
    line-height: 90px;
    vertical-align: middle;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 76px;
    height: 41px;
    background: url("../images/logo.png") no-repeat center center;

    &:hover {
      background: url("../images/logo_hover.png") no-repeat center center;
    }
  }

  ul.nav {
    margin: 0 auto;
    width: 100%;

    > li {
      display: inline-block;
      text-transform: uppercase;
      padding: 0 25px;

      a, a:visited {
        @include signal-font;
        color: $color-black;

        &.selected {
          color: $color-watermelon;
        }

        &:hover {
          color: $color-watermelon;
          background-color: #fff;
        }
      }
    }
  }
}

footer {
  color: $color-gray;
}

.button {
  @include signal-font;
  display: inline-block;
  padding: 4px 23px 0 23px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
  }

  &.blue {
    background-color: $color-blue-background;  
    color: #fff;

    &:hover {
      background-color: $color-link-dark-blue;
    }
  }

  &.grey {
    background-color: $color-light-grey;
    color: $color-dark-grey;

    &:hover {
      background-color: $color-link-dark-blue;
      color: #fff;
    }
  }
}

.red-white {
  width: auto;
  background-color: $color-watermelon;
  color: #fff;

  h2 {
    color: #fff;
  }
}

.gray-background {
  background-color: $color-grey-background;
  position: relative;
}

.grey-background-with-image {
  @extend .gray-background;
  min-height: 449px;
  overflow:hidden;
}

//TODO maybe use the blue-white mixing? or replace the mixing with this
.white-on-blue {
  padding: 50px 0 60px 0;
  background-color: $color-blue-background;
  color: #fff;
  h2 {
    line-height: 48px;
    color: #fff;
  }
  a {
    margin-top: 35px;
  }
}

.dark-blue { color: $color-dark-blue; }

.desktop {
  display: none;  
}

.centered {
  text-align:center;
}
.contact td {
  width:200px;
}

/* Home page */

ul.contact {
  li {
    padding: 15px 0;
  }
}

.product-description {
  padding-top: 220px;
  padding-bottom: 220px;
}

/* Home page */

.apps-that-work {
  /*  background: url("../images/apps-that-work.jpg") no-repeat center center fixed;*/
  background: url("../images/apps-that-work.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:200px;
  // Hack for IE
  // http://css-tricks.com/perfect-full-page-background-image/
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/apps-that-work.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/apps-that-work.jpg', sizingMethod='scale')";
}

.products {
  background-color: $color-grey-background;

  h2 {
    text-align:center;
  }

  .product {
    text-align: center;
  }
}

.products-grid {
  text-align: center;
  background-color: #fff;
  margin: 42px 0 18px 0;

  a {
    position: relative;
    border: 1px solid lightgray;
    display: inline-block;
    width: 280px;
    height: 200px;
    margin: 12px 0;
    vertical-align: middle;
    text-align: center;

    &.show-more {
      border: 1px solid grey;
      height: auto;
      padding: 20px 0;
      text-transform: uppercase;
      color: #2c2c2c;
    }

    &.optional {
      display: none;
    }

    img {
      display: inline-block;
      margin: 15% auto;
    }

    .red-white {
      text-transform: uppercase;
      display: none;
      position: absolute;
      padding: 20px 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-watermelon;
      color: #fff;

      h3 {
        @include signal-font;
        color: #fff;
        margin: 15% auto;
      }
    }
  }
}

ul.roles {
  margin-top: 26px;
  li {
    position: relative;
    margin-bottom: 2px;
    background-color: $color-light-grey;

    h3 {
      margin: 31px 0 5px 40px;
    }

    .small-font {
      margin: 5px 0 31px 40px;
    }

    a {
      margin-top: 46px;
    }
  }
}

// Readtime Page
.readtime {
  .more {
    padding-bottom: 0;

    .bottom {
      text-align:center;

      img {
        display:inline-block;
      }
    }
  }

  .separator {
    color: $color-watermelon;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .achivements {
    padding-top:0;
    padding-bottom:0;
    text-align:center;
    @include blue-white;

    hr {
      border:0;
      border-top:1px solid $color-light-blue;
    }
  }

  .full-logo {
    padding-top: 40px;
    padding-bottom:60px;
  }

  .video-background {
    position: relative;
    text-align:center;

    video {
      width:100%;
    }

    h1 {
      margin:0;
      padding:0;
      position: absolute;
      top:50%;
      left:50%;
      color: white;
      margin-top: -30px;
      margin-left: -100px;
    }
  }
}

.eventer {
  section h2 { color: $color-light-blue }
  .eventer-storywall {
    height: 480px;
    width: 100%;
    background: url('../images/eventer-storywall.jpg') no-repeat center center;
    background-size: cover;
  }
  ul.events-list {
    margin-bottom: 60px;
    li {
      display: inline-block;
      margin: 0 12px;
    }
  }
  .like-being-there {

  }
}

/* Tablets > 768px */
@media (min-width: 768px) {

  h1 { 
    font-size: 72px;
    line-height: 80px;
  }
  
  h2 {
    font-size: 36px;
    line-height: 48px;
  }

  h3 { 
    font-size: 24px; 
    line-height: 36px;
  }

  body {
    > .content {
      padding-top: 94px;
    }
  }

  header {
    padding: 80px 0;

    h1, h2 {
      margin: 20px 0;
    }
  }

  section {
    h2 { 
      line-height: 60px;
    }    
  }

  footer {
    line-height: 32px;
    padding-top: 90px;
  }

  body { font-size: 24px; }

  .mobile, a.mobile {
    display: none;
  }
  .nav-bar {
    > div { text-align: left }
    ul.nav {
      float: right;
      width: auto;
    }  
  }

  section {
    padding: 80px 0 100px 0;
  }

  .desktop {
    display: inherit;
  }

  .macbook img {display: none};

  .products {
    background-color:#fff;
  }

  .products-grid a {
    margin: 6px;

    &.optional {
      display: inline-block;
    }
  }

  .readtime .video-background h1 {
      margin-top: -45px;
      margin-left: -165px;
  }
}

/* Desktops > 992px */

@media (min-width: 992px) {

  .nav-bar {
    .logo { margin-left: 20px }
  }

  .button {
    padding-left: 43px;
    padding-right: 43px;
  }

  .macbook {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    margin-top: 90px;
    
    img {
      margin-top: 60px auto 0 auto;
      display: block;
      max-width: inherit;
    }
  }

  .like-being-there {
    position: relative;
    margin-top: 459px;
    height: 100px;
    background-color: $color-light-grey;
    
    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin: 0 auto;
    }
  }

  .readtime-iphone {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    background: url("../images/readtime-iphone.png") no-repeat left center;
    //TODO Resize the image file
    background-size: 480px;
    background-position: 90px 35px;
  }

  margin-top: -34px;
  margin-left: -160px;
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    .container { width: auto; }
    margin-bottom: 0;
    border: none;
  }

  h1 {
    font-size: 44px;
    line-height: 60px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  header, section, footer {
    padding: 40px 45px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .products {
    padding: 40px 0;
  }

  ul.roles {
    margin-left: -30px;
    margin-right: -30px;

    li {
      margin-bottom: 30px;
      text-align: center;      
      h3 { color: $color-dark-grey; }
      h3, .small-font {
        margin: 0;
        padding: 20px 10px;
        border-bottom: 1px solid #fff;
      }
      a {
        margin: 10px 0 10px 0;
        position: relative;
      }
    }
  }
}

//div, section, p { border: 1px solid red; }
