.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

$base-line-height-in-pixels: 22;
$base-font-size-in-pixels: 18;
$base-line-height: $base-line-height-in-pixels/$base-font-size-in-pixels;

$color-watermelon: #F63E5F;
$color-yellow: #FFEB27;
$color-blue: #4C9AF5;
$color-black: #323232;
$color-light-grey: #f2f2f2;
$color-mid-grey: #cacaca;
$color-dark-grey: #848484;
$color-white: #FFF;

@mixin set-lines($size, $top-margin) {
  font-size: ($size / $base-font-size-in-pixels) + em;
  @if $size <= $base-font-size-in-pixels
    { line-height: ($base-line-height-in-pixels / $size) + em; }
  @else 
    { line-height: ($base-line-height-in-pixels * 2 / $size) + em; }
  margin-bottom: ($base-line-height-in-pixels / $size) + em;
  @if $top-margin 
    { margin-top: (($base-line-height-in-pixels * 1.5) / $heading-two-in-pixels) + em; }
  @else 
    { margin-top:  0 };
}

@font-face {
  font-family: 'Signal';
  src: url('../fonts/signal/signal-no2-d-webfont.eot');
  src: local('☺'),
       url('../fonts/signal/signal-no2-d-webfont.woff') format('woff'), 
       url('../fonts/signal/signal-no2-d-webfont.ttf') format('truetype'),
	     url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg");
}
.signal { font-family: Signal; }



body {
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	color: $color-black;
	background-color: #FFF;
  font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
}

html > body, h3 {
  font-size: $base-font-size-in-pixels + px;
}

p, li, td {
  @include set-lines($base-font-size-in-pixels, false);
}

a {
  color: $color-blue;
  &:hover {
   text-decoration: underline;
  }
}

h1 {
  text-align: center;
  font-family: "Signal", Helvetica, Arial, "Serif";
  font-size: 32px;
  margin: 58px 0 10px 0;
}
h2 {
  font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 13px;
}
h3 {
  color: $color-dark-grey;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}

.intro-end, p.visit {
  margin-bottom: 60px;
}
p.visit {
  text-align: center;
  font-size: 16px;
  a {
    display: inline-block;
    padding: 4px 30px 7px;
    color: $color-white;
    background-color: $color-blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.left, .right {
  width: 444px;
  padding-left: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}

.align-right {
  text-align: right;
}

header {
	margin: 0 auto;
  background-color: $color-watermelon;
  width: 978px;
  height: 170px;
  padding: 46px 0 0 0;
  a.logo {
  	margin: 0 auto 40px;
    background: transparent url("/images/cogent_logo.png") no-repeat top left;
    display: block;
    width: 111px;
    height: 91px;
    color: transparent;
  }
  nav {
    width: 978px;
    background-color: $color-black;
    position: relative;
    height: 40px;
    font-family: "Signal", Helvetica, Arial, "Serif";
    color: $color-mid-grey;
    text-align: center;
    a {
      display: inline-block;
      padding: 0 20px 0 0;
      margin: 11px 12px 0 0;
      height: 0.85em;
      border-right: 1px $color-light-grey solid;
      color: $color-mid-grey;
      &:last-child {
       border:none; 
      }
      &:active, 
      &.selected {
        color: $color-white;
      }
    }
  }
}

.toeser {
  width: 978px;
	margin: 0 auto;
  background-color: $color-watermelon;
  text-align: center;
  .copy {
	  padding: 30px 0;
    color: $color-white;
    font-size: 16px;
  }
}


article[role="main"] {
	margin: 0 auto 20px;
  width: 978px;
  color: $color-black;
  aside {
    float: right;
  	width: 306px;
    padding: 0 84px 0 30px;
    
    h1 {
      font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
      font-size: 20px;
      font-weight: normal;
      color: #363636;
      margin: 0 0 6px;
      text-align: left;  
    }
    p {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}

.projects {
	margin: 0 auto 30px;
  width: 978px;
  &:first-of-type {
	  margin: 60px auto 30px;
  }
  .project {
    img {
      width: 306px;
      height: 180px;
      margin: -30px 0 30px -30px;
    }
    min-height: 315px;
    &:last-child {
      margin-right: 0px;
    }
    float: left;
    width: 246px;
    background-color: $color-light-grey;
    border-bottom: 1px $color-mid-grey solid;
    padding: 30px 30px 0 30px;
    margin-right: 30px;
    h2 {
      text-align: left;
    }
  }
}


section[role='main'] {
  font-size: 16px;
  line-height: auto;
  width: 558px;
  margin-right: 	420px;
  border-right: 1px white solid;
  color: #FFF;
  h1 {
    font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
    color: $color-yellow;
    text-align: left;
    font-size: 24px;
    line-height: auto;
    font-weight: lighter;
    vertical-align: center;
    margin: 0;
  }
  .time {
    display: inline-block;
    vertical-align: center;
    font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
    color: $color-mid-grey;
  }
  .post {
    position: relative;
    background-color: #FFF;
    margin: 0;
    height: 350px;
    overflow: hidden;
    border-bottom: 1px $color-mid-grey solid;
    &.status {
      background-color: #a81367;
      
    }
    &.quote {
      height: auto;
      width: 420px;
      padding: 30px 84px 30px 54px;
      background-color: #333;
      p {  
        padding: 0 10px;
        font-size: 32px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        span.attribution {
          font-size: 18px;
          line-height: 24px;
          color: #adadad;
        }
      }
    }
    .caption {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      p {
        padding: 4px 30px 7px 54px;
        color: $color-mid-grey;
      }
    }
    .transparent-box {
      position: absolute;
      height: 30px;
      bottom: 0;
      width: 100%;
      background-color: $color-black;
      opacity: 0.9;
      font-weight: normal;
    }
  }
  
}

article {
  &.thread {
    section[role='banner'] h1 {
      color: #A81367;
    }
  }
}

footer, aside[role='complementary'] {
	margin: 0 auto;
  width: 978px;
  section {
    border-top: 1px $color-mid-grey solid;
    &.grey {
      background-color: $color-light-grey;
      .left, .right {
        margin-top: 24px;
      }
    }
    .project {
      &:first-child {
        padding-left: 30px;
      }
      float:left;
      width: 276px;
      padding-left: 60px;
      margin-top: 30px;
      h2 {
        text-align: left;
      }
    }
    span.name {
      display: inline-block;
      text-align: left;
      width: 60px;
    }
  }
}



a {
  text-decoration: none;
}

ul, li {
  list-style: disc;
  margin-left: 1.5em;
}

ol, li {
  list-style: normal;
  margin-left: 1.5em;
}


@media (max-width: 400px) {

  p {}
  section[role='banner'] {
    h1 {
      font-size: 36px;
      line-height: 48px;
    }
    h2 {
      font-size: 24px;
      line-height: 36px;
      padding: 0 10px;
    }
  }
  article[role="main"] {
  }
  aside {
    float: none;
    width: auto;
  }
  section[role='main'] {
    margin-left: 0;
    padding-left: 0;
  }

}


