@import "./variables.css.scss";

body {
  @include minion-pro-font;
}

h1 {
  @include signal-font;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include minion-pro-font; 
}

.navbar {
  text-transform: uppercase;
  padding: 15px 0 23px 0;
  > div {
    text-align: center;
  }
}

header {
  padding: 25px;
}

/* Tablets > 768px */
@media (min-width: 768px) {

}
/* Desktops > 992px */
@media (min-width: 992px) {
  h1 {
    font-size: 3.8em;
  }

  header {
    padding: 100px 0;
  }
}