.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {

}
 
html[xmlns] .clearfix {

}
 
* html .clearfix {
  height: 1%;
}

$base-line-height-in-pixels: 22;
$base-font-size-in-pixels: 18;
$base-line-height: $base-line-height-in-pixels/$base-font-size-in-pixels;

$color-watermelon: #F63E5F;
$color-yellow: #FFEB27;
$color-blue: #4C9AF5;
$color-black: #323232;
$color-light-grey: #f2f2f2;
$color-mid-grey: #cacaca;
$color-dark-grey: #848484;
$color-white: #FFF;

@mixin set-lines($size, $top-margin) {
  font-size: ($size / $base-font-size-in-pixels) + em;
  @if $size <= $base-font-size-in-pixels
    { line-height: ($base-line-height-in-pixels / $size) + em; }
  @else 
    { line-height: ($base-line-height-in-pixels * 2 / $size) + em; }
  margin-bottom: ($base-line-height-in-pixels / $size) + em;
  @if $top-margin 
    { margin-top: (($base-line-height-in-pixels * 1.5) / $heading-two-in-pixels) + em; }
  @else 
    { margin-top:  0 };
}

@font-face {
  font-family: 'Signal';
  src: url('../fonts/signal/signal-no2-d-webfont.eot');
  src: local('☺'),
       url('../fonts/signal/signal-no2-d-webfont.woff') format('woff'), 
       url('../fonts/signal/signal-no2-d-webfont.ttf') format('truetype'),
	     url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg");
}
.signal { font-family: Signal; }



body {
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	color: $color-black;
	background-color: #FFF;
  font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
}

html > body, h3 {
  font-size: $base-font-size-in-pixels + px;
}

p, li, td {
  @include set-lines($base-font-size-in-pixels, false);
}

a, a:link, a:visited  {
  color: $color-blue;
  &:hover, a:active {
   text-decoration: underline;
  }
}

h1 {
  text-align: center;
  font-family: "Signal", Helvetica, Arial, "Serif";
  font-size: 32px;
  margin: 58px 0 10px 0;
}
h2 {
  font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 13px;
}
h3 {
  color: $color-dark-grey;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}

.intro-end, p.visit {
  margin-bottom: 60px;
}
p.visit {
  text-align: center;
  font-size: 16px;
  a {
    display: inline-block;
    padding: 4px 30px 7px;
    color: $color-white;
    background-color: $color-blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

p.centered {
  text-align: center;
  width: 642px;
  margin-left: 168px;
  font-size: 16px;
  margin-bottom: 30px;
}

.left, .right {
  width: 444px;
  padding-left: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}

.align-right {
  text-align: right;
}

#mobile {
  display: none;
}

header, article[role="main"], footer, .toeser {
  width: 978px;
  margin: 0px auto;
}

header {
  background-color: $color-watermelon;
  height: 170px;
  padding: 46px 0 0 0;
  &.home {
    height: 378px;
    h1 {
      color: $color-white;
      display:block;
      font-size: 60px;
      margin-top: 21px;
      margin-bottom: 63px;
    }
  }
  h1 {
    display:none;
  }
  a.logo {
  	margin: 0 auto 40px;
    display: block;
    width: 111px;
    height: 91px;
    color: transparent;
  }
  nav {
    width: 100%;
    background-color: $color-black;
    position: relative;
    height: 40px;
    font-family: "Signal", Helvetica, Arial, "Serif";
    color: $color-mid-grey;
    text-align: center;
    a, a:link, a:visited {
      display: inline-block;
      padding: 0 20px 0 0;
      margin: 11px 12px 0 0;
      height: 0.85em;
      border-right: 1px $color-light-grey solid;
      color: $color-mid-grey;
      &:last-child {
       border:none; 
       padding: 0 0 0 0;
      }
      &:active, 
      &.selected {
        color: $color-white;
      }
    }
  }
}

.toeser {
  background-color: $color-watermelon;
  text-align: center;
  .copy {
	  padding: 30px 0;
    color: $color-white;
    font-size: 16px;
  }
}

.principle {
  float: left;
  width: 420px;
  margin: 30px 84px 0 0;
  &.alt {
    margin: 30px 54px 0 0;
  }
  h2 {
    text-align: left;
    padding: 11px 0 4px 55px;
    background-position: 10px center;
    background-repeat: no-repeat;
    min-height: 32px;
    line-height: 21px;
    &.focus {
      background-image: url("../images/icon-focus.gif");
      background-position: 5px center;
    }
    &.together {
      background-image: url("../images/icon-together.gif");
      background-position: 5px center;
    }
    &.people {
      background-image: url("../images/icon-people.gif");
    }
    &.life {
      background-image: url("../images/icon-life.gif");
      background-position: 5px center;
    }
    &.real {
      background-image: url("../images/icon-real.gif");
    }
    &.learning {
      background-image: url("../images/icon-learning.gif");
    }
  }
}

article[role="main"] {
	margin: 0 auto 20px;
  color: $color-black;
  aside {
    float: right;
  	width: 306px;
    padding: 0 84px 0 30px;
    
    h1 {
      font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
      font-size: 20px;
      font-weight: normal;
      color: #363636;
      margin: 0 0 6px;
      text-align: left;  
    }
    p {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}

div.projects {
  margin: 60px -30px 30px 0;
  .project {
    float: left;
    width: 306px;
    min-height: 335px;
    background-color: $color-light-grey;
    border-bottom: 1px $color-mid-grey solid;
    margin: 0 30px 30px 0;
    img {
      width: 306px;
      height: 180px;
    }
    &:last-child {
      margin-right: 0px;
    }
    h2 {
      text-align: left;
      padding: 20px 30px 0 30px;
    }
    p {
      padding: 0 30px;
    }
  }
}

section#project_footer {
  clear:both;
  .project {
    &:first-child {
      padding-left: 30px;
      width: 246px;
    }
    float:left;
    width: 276px;
    padding: 0 30px 0 30px;
    margin-top: 30px;
    h2 {
      text-align: left;
    }
  }
}


div.people {
  margin: 60px -30px 30px 0;
  .tweet, .person {
    min-height: 286px;
    float: left;
    width: 306px;
    background-color: $color-light-grey;
    border-bottom: 1px $color-mid-grey solid;
    margin: 0 30px 30px 0;
  }
  .tweet {
    padding-top: 70px;
    min-height: 222px;
    background-color: $color-black;
    h2 {
      text-align: left;
      color: $color-yellow;
      font-weight: normal;
      padding: 0 20px;
      a {
        color: $color-yellow;
        text-decoration: underline;
      }
    }
    span.time {
      padding: 0 20px;
    }
  }
  .person {
    img {
      width: 100%;
/*      height: 180px;*/
    }
    h2 {
      text-align: left;
      margin-bottom: 0;
      padding: 0 20px;
    }
    p {
      padding: 0 20px;
    }
    a {
      display: inline-block;
      background-color: $color-mid-grey;
      width: 46px;
      height: 25px;
      margin: 10px 3px 0 0;
      text-indent: -1000em;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      &:hover {
        background-color: $color-blue;
      }
      &.in {
        background-image: url("../images/icon-linkedin.png");
        &:hover {
          background-image: url("../images/icon-linkedin-over.png");
        }
      }
      &.twitter {
        background-image: url("../images/icon-twitter.png");
        &:hover {
          background-image: url("../images/icon-twitter-over.png");
        }
      }
      &.blog {
        background-image: url("../images/icon-blog.png");
        &:hover {
          background-image: url("../images/icon-blog-over.png");
        }
      }
    }
  }
}


span.time {
  display: inline-block;
  vertical-align: center;
  color: $color-mid-grey;
}

section[role='main'] {
  &.content {
    color: $color-black;
    h2 {
      text-align: left;
    }
  }
  font-size: 16px;
  line-height: auto;
  width: 558px;
  margin-right: 	420px;
  margin-bottom: 30px;
  border-right: 1px white solid;
  color: #FFF;
  h1 {
    font-family: minion-pro, "Palatino", "Georgia", "Times New Roman", "Serif";
    color: $color-yellow;
    text-align: left;
    font-size: 24px;
    line-height: auto;
    font-weight: lighter;
    vertical-align: center;
    margin: 0;
  }
  .post {
    img {
      width: 100%;
    }
    position: relative;
    background-color: #FFF;
    margin: 0 0 -6px 0;
    overflow: visible;
    &.status {
      background-color: #a81367;
      
    }
    &.quote {
      height: auto;
      width: 420px;
      padding: 30px 84px 30px 54px;
      background-color: #333;
      p {  
        padding: 0 10px;
        font-size: 32px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0;
        span.attribution {
          font-size: 18px;
          line-height: 24px;
          color: #adadad;
        }
      }
    }
    .caption {
      position: absolute;
      bottom: 6px;
      height: 30px;
      width: 100%;
      p {
        padding: 4px 30px 7px 54px;
        color: $color-mid-grey;
      }
    }
    .transparent-box {
      position: absolute;
      height: 30px;
      bottom: 6px;
       width: 100%;
      background-color: $color-black;
      opacity: 0.9;
      font-weight: normal;
    }
  }
  
}

article {
  &.thread {
    section[role='banner'] h1 {
      color: #A81367;
    }
  }
}

.lined {
  clear: both;
  border-top: 1px $color-mid-grey solid;
  &.grey {
    background-color: $color-light-grey;
    .left, .right {
      margin-top: 24px;
    }
  }
}

footer {
  span.name {
    display: inline-block;
    text-align: left;
    width: 60px;
  }
}



a {
  text-decoration: none;
}

ul, ol {
  margin-left: 0;
  padding-left: 30px;
}

ul li {
  list-style: disc;
  margin-left: 0em;
}

ol li {
  list-style: normal;
  margin-left: 1.5em;
}


@media (max-width: 478px) {

  header, article[role="main"], footer, .toeser {
    width: 300px;
  }
  
  h1 {
    margin: 58px 12px 10px 12px;
  }
  
  h2 {

  }

  p.centered {
    width: auto;
    margin-left: 0px;
  }
  
  header {
    height: 95px;
    padding-top: 20px;
    &.home {
      height: 95px;
      h1 {
        display: none;
      }
    }
    a.logo {
      margin: 0 auto 20px;
      width: 73px;
      height: 62px;
      img {
        width: 73px;
        height: 62px;
      }
    }
    nav {
      a, a:link, a:visited, a:active {
        padding: 0 10px 0 0;
        margin: 11px 2px 0 0;
      }
    }
  }

  footer {
    display: none;
  }

  .toeser .copy {
    padding: 6px 12px 100px;
    text-align: left;
  }

  .left, .right {
    width: auto;
    padding: 0 12px;
  }
  
  .principle, .principle.alt {
    float: none;
    width: auto;
    margin: 30px 12px 0 12px;    
  }
  
  div.people, div.people.first {
    margin-bottom: 0px;
    .tweet, .person {
      float: none;
      width: 300px;
      margin: 0;
    }
    .tweet {
      min-height: initial;
      padding: 30px 0;
    }
  }
  
  div.projects .project {
    width: 300px;
    img {
      width: 100%;
    }
  }
  
  section#project_footer {
    .project {
      &:first-child {
        padding-left: 30px;
        width: 246px;
      }
      width: 276px;
      padding: 0 12px 0 12px;
    }   
  }
    
  article[role="main"] {
    aside {
      float: none;
      width: auto;
      padding: 0 12px 0 0;
    }
    section[role="main"] {
      width: auto;
      margin-right: 0px;
      .post {
        img {
          width: 100%;
        }
        &.quote {
          height: auto;
          width: auto;
          padding: 30px 12px 30px 12px;
          background-color: #333;
        }
        .caption p {
          padding: 4px 12px 7px 12px;
        }
      }
    }
  }

  article#home {
    margin-bottom: 0px;

    #mobile {
      display: block;
      border-bottom: 1px $color-mid-grey solid;
      h1 {
        font-size: 35px;
        margin-bottom: 0px;
      }
      p {
        &:last-of-type {
          font-size: 20px;
        }
        font-size: 30px;
        border-top: 1px $color-mid-grey solid;
        background-color: $color-light-grey;
        margin-bottom: 0px;
        padding: 20px 12px 25px 12px;
      }
    }

    h1 {
      font-size: 20px;
      &.goals {
        display: none;
      }
      br {
        display: none;
      }
    }

    div.principle {
      display: none;
    }
    section#projects {
      h2 {
        display:none;
      }
      p.visit {
        display: none;
      }
      div.projects {
        margin-bottom: 0px;
        .project {
          h2 {
            display: block;
            margin-bottom: 4px;
          }
          min-height: 100px;
          width: 276px;
          padding: 30px 12px 0 12px;
          border-bottom: 0px;
          border-top: 1px $color-mid-grey solid;
          img {
            display: none;
          }
        }
      }
    }

    section#people {
      display: none;
    }

  }

}