@import "./variables.css.scss";
.thread {
  .project-intro {
    @include image-background("../images/thread-bg.jpg");
  }

  .thread-icon{
    position:absolute;
    z-index: 100;
    width: 114px;
    left:50%;
    bottom:-57px;
    margin-left:-57px;

  }
  section.before-icon {
    position: relative;
    padding-bottom:110px;
  }
  section.after-icon {
    padding-top:130px;
  }
}

@media (min-width: 992px) {
  .thread {
    .product-image {
      position: absolute;
      top: 0;
      left: 60%;
      right: 0;
      bottom: 0;
      background: url("../images/thread-ipad.png") no-repeat left center;
      background-size: 775px;
      background-position: 90px 35px;
    }

    .product-description {
      padding-top: 160px;
    }
  }
}
