@import "./variables.css.scss";
.thread {
  .product-intro {
    @include image-background("../images/thread-bg.jpg");
  }

  .product-description {
    padding-top: 160px;
  }

  .the-bens {
    height: 480px;
    width: 100%;
    @include image-background("../images/the-bens.png");
  }
}

@media (min-width: 992px) {
  .thread .product-image {
    position: absolute;
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
    background: url("../images/thread-ipad.png") no-repeat left center;
    background-size: 775px;
    background-position: 90px 35px;
  }
}
