@mixin avenir-font {
  font-family: "Avenir-Light", "Palatino", "Georgia", "Times New Roman", "Serif";
  font-weight: 100;
}

@font-face {
  font-family: 'Signal';
  src: url('../fonts/signal/signal-no2-d-webfont.eot');
  src: local('☺'),
  url('../fonts/signal/signal-no2-d-webfont.woff') format('woff'),
  url('../fonts/signal/signal-no2-d-webfont.ttf') format('truetype'),
  url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg");
}

@mixin signal-font {
  font-family: "Signal", Helvetica, Arial, "Serif";
  font-weight: 100;
}

@mixin gray-background {
  background-color: $color-light-grey;
  position: relative;
}

@mixin image-background($url) {
  background: url($url) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // Hack for IE
  // http://css-tricks.com/perfect-full-page-background-image/
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$url, sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{$url}, sizingMethod='scale')";
}

$base-line-height-in-pixels: 23.4;
$color-blue-background: #4c9af5;
$color-grey-background: #f3f3f3;

$color-watermelon: #F63E5F;
$color-dark-blue: #3F7FCA;
$color-light-blue: #6CA6F3;
$color-light-grey: #F2F2F2;
$color-gray: #666666;
$color-mid-grey: #CACACA;
$color-dark-grey: #848484;
$color-black: #2C2C2C;
$color-link-dark-blue: #3d7fc9;