@mixin avenir-font {
  font-family: "Avenir", "Palatino", "Georgia", "Times New Roman", "Serif";
  font-weight: 100;
}

@font-face {
  font-family: 'Signal';
  src: url('../fonts/signal/signal-no2-d-webfont.eot');
  src: local('☺'),
  url('../fonts/signal/signal-no2-d-webfont.woff') format('woff'),
  url('../fonts/signal/signal-no2-d-webfont.ttf') format('truetype'),
  url("../fonts/signal/signal-no2-d-webfont.svg#SignalNo2DRegular") format("svg");
}

@mixin signal-font {
  font-family: "Signal", Helvetica, Arial, "Serif";
  font-weight: 100;
}

$base-line-height-in-pixels: 23.4;
$color-watermelon: #F63E5F;
$color-yellow: #FFEB27;
$color-blue: #4C9AF5;
$color-black: #323232;
$color-light-grey: #f2f2f2;
$color-mid-grey: #cacaca;
$color-dark-grey: #848484;
$color-white: #FFF;
$color-divider: #666666;