---
role: CEO
layout: "../_layout/_main.html.haml"
join_page_alt: true
...
%article{ :role => "main" }
  %h1
    Inspire Cogent to new heights with your business-savvy and people motivation skills.

  %section.content{ :role => "main" }
    %h2 Cogent is a company with places to go, and it's time for us to have a dedicated CEO at the helm.

    %br
    %p We're a small Melbourne-based business with a proven delivery focused team that:
    %ul
      %li Provides product services to create leading web and mobile applications for customers such as Melbourne Business School and The Alfred Hospital;
      %li Offers technical consulting to a variety of leading digital clients such as Red Bubble, Hooroo and REA Group; and
      %li Invests in internal and partnership startups to build future revenue streams.

    %p
      Vital to our continued success is a focus on our people and culture, and top-notch commercial rigour. We're after a business-savvy and entrepreneurial CEO, with
      creative and motivating people leadership skills. You'll naturally set about growing and diversifying the team, implementing smarter business management practices,
      driving initiatives to build a more creative and enjoyable workplace, and instrumenting changes to help us reach our longer term business goals.

    %br
    %p The look of success is:
    %ul
      %li A scaled up Cogent business, where the team feel supported, stimulated and inspired in their day-to-day work.
      %li Substantial year on year growth in revenue of product services, and of sustainable, scalable income from new Cogent startups.

    %br
    %p Key responsibilities are to:
    %ul
      %li Help to set and lead the strategic direction for Cogent.
      %li Drive commercial success, toward company goals.
      %li Develop a thriving company culture: a stimulating and enjoyable place to work.
      %li Build awareness and engagement with customers and communities.

    %br
    %p Here's hoping you match up to this key experience list:
    %ul
      %li Well honed leadership style, capable of building high-performing teams, creating passion, positive energy and forward movement.
      %li Multiple successes in commercial leadership, including of relevant businesses.
      %li Rich experience in digital product delivery, including to be well versed in product management, design and development.
      %li Entrepreneurial successes under the belt, ideally in successful digital startups.

    %p
      You'll be frank by habit; prefer to have a go and adapt than worry about failure; like saying "yes, and" to new ideas; collaborate often; and
      enjoy walking out the door at a reasonable time to set a genuine life-centric example.

    %p We'll offer a competitive package, a share of profit as a long-term incentive, and the opportunity to shape something you can be truly proud of.

    .hero
      %img{ :src => href("/images/job-ceo.jpg") }
      %h2
        We'll offer a competitive package, a share of profit as a long-term incentive, and the opportunity to shape something you can be truly proud of.


