---
page_title: Join
layout: "/_layout/_main.html.haml"
join_page: true
...
%article.clearfix{ :role => "main" }

  %h1
    Yep, Cogent is hiring
  %h2
    One of the roles below could have your name written all over it.

  %p.centered
    Cogent got started by hiring some of the best people we'd worked with. That sets a high bar, and we'd love to see you clear it. We're not interested in how many degrees you have, or even if you finished high school. We want people who are smart, and can get things done.

  .projects.clearfix

    .project
      %a{ :href => href("designer.html") }
        %img{ :src => href("/images/job-designer.jpg") }
      %h2
        %a{ :href => href("designer.html") } Designer
      %p Get to change stuff as you go, and see your work in the wild.

    .project
      %a{ :href => href("developer.html") }
        %img{ :src => href("/images/job-developer.jpg") }
      %h2
        %a{ :href => href("developer.html") } Developer
      %p Pair with some of the best developers in Melbourne. We care about code!

    .project
      %a{ :href => href("producer.html") }
        %img{ :src => href("/images/job-producer.jpg") }
      %h2
        %a{ :href => href("producer.html") } Producer
      %p Work with great customers, knowing a good team is behind you.
