%section#project_footer.lined.grey.clearfix
  = projects_html(3, false, @project_name)

%section.lined.grey.clearfix

  %h1 We are bright and good at what we do

  %h2 That means we'll ask lots of questions.

  .left

    %p We don't think about our skills as buzzwords like strategy, user experience, agile methods or Ruby on Rails development — we think about working as a team with your objective in mind.  

    %p We relish the challenge of creating something new, and to solve tough problems that haven't been solved before. We know that designing something that is efficient to run matters too, that's why we're also happy to be your ongoing support team.

  .right

    %p 
      We've been fortunate to work with some great customers, like:
    %p 
      Melbourne Business School
      %br
      The Alfred Hospital
      %br
      Real Estate Group
      %br
      Tesselaar
      %br
      Rezeko
      %br
      Sensis Yellow Pages
      %br
      Swann Insurance
      %br
      Lonely Planet
      %br
      Jetstar
