---
layout: "_layout/_main.html.haml"
error: 404
...
%article.clearfix(role="main")

  %h1
    Oops!

  %h2
    That page doesn't exist.

  %p.centered
    Perhaps it never did.  Or, maybe we've removed it.
    %br
    Either way, it's not here. We suggest you start again from the #{link "/", "Home"} page.
