---
layout: "_layout/_main.html.haml"
...
%article.clearfix{ :role => "main" }
  #gs-overlay
    &nbsp;
  %h1 
    Cogent has some pretty simple principles

  .principle
    %h2.people Treat people well
    %p We treat each other and our customers well. We choose to be honest and open, to collaborate, and to be respectful and fair. These values are really important to who we are and how we act.
    
  .principle.alt
    %h2.life Life outside work matters
    %p We love what we do, and life outside work hours counts too. The standard work week is - just that. We plan our projects to set ourselves up for success, not for a frenzied error-prone sprint to the finish line. 

  .principle
    %h2.real Be real
    %p We avoid buzzwords, cut out noise, distill to the real need and get on with it. We design, build and iterate to get results. We deliver remarkable products. If you like fancy slide decks full of theories that never get to market, you will be disappointed.
  
  .principle.alt
    %h2.learning Learning more is part of the plan
    %p We're good at what we do, but the world shifts fast. That's why we are avid learners who debate, reflect, read, participate and experiment. We commit to learning by spending a day each month together to explore new things.

  %section.lined

    %h1
      These are the people whose skills and passion
      %br
      make Cogent what it is today

    %h2 We like to work together with smart people to make things we're proud of.
  
    .people.first.clearfix
  
      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      = tweet(2)

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      = tweet(3)


      = tweet(4)

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

        
      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      .person
        %img{ :src => href("images/img-person.png"), :alt => "Person"  }
        %h2 Rachel Morely
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

        
        
