---
layout: "_layout/_main.html.haml"
...
%header.row.red-white
  .col-1.col-lg-1
  .col-10.col-lg-8.col-offset-1
    %h1 We create useful software that gets results
    %h3 We start with your bussiness goal and work in a open and iterative way to craft the product.