---
layout: "_layout/_main.html.haml"
page_title: Home
class: "home"
...
%header.red-white
  .container
    .row-fluid
      .span10.offset1
        %h1 We create useful software that gets results
    .row-fluid
      .span9.offset1
        %h2 We start with your business goal and work in a open and iterative way to craft the product.

= include "_partials/_mobile_footer.html.haml"
  
%section.passion.desktop  
  .container
    %img.ipad-home{:src => href("/images/ipad-home.png")}
    .row-fluid
      .span8.offset1
        %h2 Your business objective is what we get passionate about.
        %br
        %p
          Not awards, fancy design for no reason,
          %br
          or irrelevant shiny features.
          %br
          %br
          We believe great things happen when technology,
          %br
          design and business experts work openly and closely together.
          %br
          %br
          We spend a lot of time with out customers.
          %br
          It helps us what you wanted.

%section.gray-background.desktop
  .container
    .row-fluid
      .span6.offset1
        %h2 We incept, design and build applications that work.
        %br
    .row-fluid
      .span5.offset1
        %h3 Pick the right tool for the job
        %p.small-font Our kit bag has lots of methods for shaping your project. We'll pick the ones that suit yout needs. We keep waste low and avoid rigid process or lenght spec documents. We put our enegry into iterating on real work, like sketches or software.
      .span5.offset1
        %h3 Learn constantly
        %p.small-font Iterating is built into our DNA. We talk and share thinking in lightweight form, seek feedback often, and adapt. We'll be gluttons, as that gives us the best change of creating a good result.

%a.products-anchor{:name => "work"}
  &nbsp;
%section.products-slider
  .container{:style => "overflow: visible"}
    .slider-controls
      %button.slider-prev  prev
      %button.slider-next  next
    .row-fluid
      .span9.offset1
        %h2 We like to work with smart people to make remarkable products.
        %br
        %br
    .row-fluid
      .span10.offset1{:style => "position: relative;height: 550px"}
        .royalSlider
          - (1..6).each do |n|
            %div
              %a{:href => "#product-#{n}"}
                %img{:src =>"images/slider-#{n}.jpg"}
              %h2
                Product #{n}
              %p Bacon ipsum dolor sit amet sausage t-bone pork chop corned beef ground round pork belly, ham beef ribs chuck pork salami andouille.
    .row-fluid
      .span2.offset1
