---
layout: "_layout/_main.html.haml"
...
.red-white
  %section.container
    .row
      .span10.offset1
        %h1 We create useful software that gets results
        %h2 We start with your business goal and work in a open and iterative way to craft the product.

%section.container.mobile
  .span10
    %ul.contact 
      %li info@cogent.co
      %li Level 3, 10 Queen St Melbourne VIC
      %li Rachel 0419 373 075

.gray-background.desktop
  %section.container
    .row
      .span7.offset1
        %h2 Your business objective is what we get passionate about.
        %h3 Not awards, fancy design for no reason, or irrelevant shiny features.
        %h3 We believe great things happen when technology, design and business experts work openly and closely together.
        %h3 
          We spend a lot of time with out customers. 
          %br
          It helps us what you wanted.
  .macbook

.apps-that-work.desktop
  %section.container
    .row
      .span5.offset1
        %h2 We incept, design and build applications that work.
    .row
      .span4.offset1
        %h3 Pick the right tool for the job
        %p Our kit bag has lots of methods for shaping your project. We'll pick the ones that suit yout needs. We keep waste low and avoid rigid process or lenght spec documents. We put our enegry into iterating on real work, like sketches or software.
      .span4
        %h3 Learn constantly
        %p Iterating is built into our DNA. We talk and share thinking in lightweight form, seek feedback often, and adapt. We'll be gluttons, as that gives us the best change of creating a good result.

.products
  %section.container
    .row.desktop
      .span8.offset2
        %h2 We like to work together with smart people to make remarkable things we're proud of.
    .row.mobile
      %h2 We incept, design and build applications that work
    .row
      .span10.offset1
        .products-grid><
          %a{:href => "#"}><
            %img{:src => "images/readtime-icon.png", :alt => "Readtime"}
          %a{:href => "#"}><
            %img{:src => "images/thread-icon.png", :alt => "Thread"}
          %a{:href => "#"}><
            %img{:src => "images/eventer-icon.png", :alt => "Eventer"}
          %a.optional{:href => "#"}><
            %img{:src => "images/readtime-icon.png"}
          %a.optional{:href => "#"}><
            %img{:src => "images/rea-icon.png"}
          %a.optional{:href => "#"}><
            %img{:src => "images/tesselaar-icon.png"}
          %a.mobile.show-more{:href => "javascript:void(0)"}
            Show more projects

      .mobile.text-center.copyright
        %p © Cogent 2013