---
layout: "_layout/_main.html.haml"
page_title: Home
class: "home"
...
%header.red-white
  .container
    .row-fluid
      .span10.offset1
        %h1 We create useful software that gets results
    .row-fluid
      .span9.offset1
        %h2 We start with your business goal and work in a open and iterative way to craft the product.

= include "_partials/_mobile_footer.html.haml"

%section.passion.desktop
  .container
    %img.ipad-home{:src => href("/images/ipad-home.png")}
    .row-fluid
      .span7.offset1
        %h2 Meeting your objective is what we get passionate about.
    .row-fluid
      .span7.offset1
        %p
          We chase outcomes, not awards. Want to lower your cost to operate, or expand into new markets?
          %br
            That'll be our focus.
        %br
        %p The result is an application where every last detail was chosen for its value to the overall objective. Because it all adds up.
%section.gray-background.desktop
  .container
    .row-fluid
      .span6.offset1
        %h2 We incept, design and build applications that work.
    .row-fluid
      .span5.offset1
        %h3 It's a team sport
        %p.small-font We believe great things happen when technology, design and business experts work openly and closely together. We spend lots of time with you, all the way through the project.
      .span5.offset1
        %h3 Pick the right tools for the job
        %p.small-font Our kit bag has lots of methods for creating your product. We’ll pick the ones that suit your needs. We keep waste low and put our energy into production artifacts, like sketches or software.

%a.products-anchor{:name => "work"}
  &nbsp;
%section.products-slider
  .container{:style => "overflow: visible"}
    .slider-controls
      %button.slider-prev  prev
      %button.slider-next  next
    .row-fluid
      .span8.offset1
        %h2 We like to work together with smart people to make remarkable things we're proud of.
        %br
        %br
    .row-fluid
      .span10.offset1{:style => "position: relative;height: 550px"}
        .royalSlider
          %div
            %a{:href => "/projects/readtime"}
              %img{:src =>"images/slider-readtime.jpg"}
            %h2
              Readtime
            %p Getting things read on your iPhone.
          %div
            %a{:href => "/projects/eventer"}
              %img{:src =>"images/slider-eventer.jpg"}
            %h2
              Eventer
            %p Changing what it’s like to watch an event you couldn’t make it to.
          %div
            %a{:href => "/projects/thread"}
              %img{:src =>"images/slider-thread.jpg"}
            %h2
              Thread
            %p Helping Melbourne Business School to be leaders in digital learning.
          %div
            %a{:href => "/projects/hooroo"}
              %img{:src =>"images/slider-hooroo.jpg"}
            %h2
              Hooroo
            %p Bacon ipsum dolor sit amet short loin ball tip doner corned beef fatback jowl spare ribs swine.
    .row-fluid
      .span2.offset1
