---
layout: "_layout/_main.html.haml"
...
%article#home.clearfix{ :role => "main" }
  #gs-overlay
    &nbsp;
  #mobile
    %h1 We build useful software that gets results
    %h2 We start with your business goals and work in an open and iterative way to craft the product.
    .info
      %p
        %a{ :href => "mailto:info@cogent.co" } info@cogent.co
      %p
        0419 373 075
      %p
        %a{ :href=> "http://g.co/maps/55rrs" }
          Level 3
          %br
          10 Queen Street
          %br
          Melbourne, VIC 3000
          %br
          Australia
        

  %h1.goals
    We start with your business goals and work
    %br
    in a open and iterative way to craft the product

  .principle
    %h2.focus Focus on outcomes
    %p Your business objective is what we get passionate about.  Not awards, fancy design for no reason, or irrelevant shiny features.Lower cost to operate? Lift sales conversion? That'll be our focus.
    
  .principle.alt
    %h2.together In this together
    %p We believe great things happen when technology, design and business experts work openly and closely together. We spend lots of time with our customers. It helps us to produce what you wanted.

  .principle
    %h2.real Pick the right tools for the job
    %p Our kit bag has lots of methods for shaping your project. We’ll pick the ones that suit your needs. We keep waste low and avoid rigid process or lengthy spec documents. We put our energy into iterating on real work like sketches or software.
  
  .principle.alt
    %h2.learning Learn constantly
    %p Iterating is built into our DNA. We talk and share thinking in lightweight forms, seek feedback often, and adapt. We’ll be gluttons for knowledge about your business, as that gives us the best chance of creating a good result.


  %section#projects.lined
  
    %h1
      We like to work together with smart people to
      %br
      make remarkable things we're proud of
  
    %h2
      Cogent can incept, design and build applications that work.

    %p.visit
      %a{:href => href("/projects/index.html")} View Projects

    .projects.clearfix

      .project
        %img{ :src => href("/images/img-project.png") }
        %h2
          %a{ :href => href("/projects/tesselaar.html") } Tesselaar
        %p An efficient back-office was in order for Paul Tesselaar.

      .project
        %img{ :src => href("/images/img-project.png") }
        %h2
          %a{ :href => href("/projects/eventer.html") } Eventer
        %p Changing what it's like to watch an event you couldn't make it to.

      .project
        %img{ :src => href("/images/img-project.png") }
        %h2
          %a The Alfred Hospital
        %p A product prototype that could improve quality of treatment of many thousands of people.
    
  %section#people.lined
  
    %h1
      We are avid learners who love to debate,
      %br
      reflect, participate and experiment
  
    %h2
      We choose to be honest and open, to collaborate, and to be respectful and fair.

    %p.visit
      %a{:href => href("about.html") } Learn about us


    %p.centered
      Cogent was created with a lot of care to be a company that not only did good work, but did it in an ethical and values-based way.  We’re proud to have maintained that tradition over years of operation, and to be on of the best place many of us have ever worked.
    
    .people.clearfix
  
      = tweet(0)

      .person
        %img{ :src => href("images/img-person.png") }
        %h2 Andrew Green
        %p
          UX designer
          %br
          %a.in{ :href => "http://www.linkedin.com/" }<> View LinkedIn profile
          %a.twitter{ :href => "http://www.twitter.com/" }<> View Twitter stream
          %a.blog{ :href => "http://rnmile.tumblr.com/"}<> Blog

      = tweet(1)

    
    
