---
layout: "_layout/_main.html.haml"
join_page: true
...
%article.clearfix{ :role => "main" }
  #gs-overlay
    &nbsp;
  %h1 
    Yep, Cogent is hiring
  %h2
    One of the roles below could have your name written all over it.
    
  %p.centered
    Cogent got started by hiring some of the best people we'd worked with. That sets a high bar, and we'd love to see you clear it. We're not interested in how many degrees you have, or even if you finished high school. We want people who are smart, and can get things done.
    
  .projects.clearfix

    .project
      %img{ :src => href("/images/img-project.png") }
      %h2
        %a{ :href => href("/jobs/designer.html") } Designer
      %p Some words from Rach

    .project
      %img{ :src => href("/images/img-project.png") }
      %h2
        %a{ :href => href("/jobs/developer.html") } Developer
      %p Some words from Rach

    .project
      %img{ :src => href("/images/img-project.png") }
      %h2
        %a{ :href => href("/jobs/producer.html") } Producer
      %p Some words from Rach
