---
layout: "_layout/_main.html.haml"
...
%article{ :role => "main" }
  #gs-overlay
    &nbsp;

  %h1 
    We like to work together with smart people to
    %br
    make remarkable things we are proud of
  %h2
    We can incept, design and build applications that work.

.projects.clearfix
  .project
    %img{ :src => "images/img-project.png" }
    %h2
      %a Tesselaar
    %p We helped Melbourne Business School to become leaders in digital learning.
  .project
    %img{ :src => "images/img-project.png" }
    %h2
      %a{ :href => "eventer.html" } Eventer
    %p Changing what it's like to watch an event you couldn't make it to.
  .project
    %img{ :src => "images/img-project.png" }
    %h2
      %a The Alfred Hospital
    %p A product prototype that could improve quality of treatment of many thousands of people.
.projects.clearfix
  .project
    %img{ :src => "images/img-project.png" }
    %h2
      %a Tesselaar
    %p We helped Melbourne Business School to become leaders in digital learning.
  .project
    %img{ :src => "images/img-project.png" }
    %h2
      %a Eventer
    %p Changing what it's like to watch an event you couldn't make it to.
  .project
    %img{ :src => "images/img-project.png" }
    %h2
      %a The Alfred Hospital
    %p A product prototype that could improve quality of treatment.    