---
layout: "_layout/_main.html.haml"
...

.readtime
  .centered.video-background
    %video{:poster => "", :autoplay => "", :preload => "auto", :loop => ""}
      %source{:type => "video/mp4", :src => "images/readtime.mp4"}
    %h1 readtime

  %section.gray-background.product-description
    .container
      .span7.offset1
        %h2 Getting things read on your iPhone
        %br
        %h3 Readtime is an app that helps you get through the items in your Readability list. It starts with the amount of time you have - up to 30 minutes - and fetches the right amont of articles for you based on average read speeds.
    .readtime-iphone

  %section.more
    .container
      .row
        .span8.offset2
          %h2.dark-blue Retrieve and store articles you've saved to Pocket or Readability for offline reading.
          %p Reading lists are awesome for collecting all the articles you'd like to read - sometimes too awesome. However, having enthisiastically saved all those great reads for later, we found ourselves wincing when faced with the article pile-up. 
          %p We're continuing to develope Readtime, enjoying the positive feedback we/ve had from our users thus far. Next up we're hopoing to have an Instapaper release top complete the suite of top reading services.
      .bottom
        %img{:src => "images/readtime-two-iphones.png"}
  
  %section.gray-background.centered
    .container
      .row
        .span8.offset2
          %p A dead-simple app for quicly accessing your Readbility reading list for those iddle moments throughout your day.
          %p
            %strong Matt Elliot, CNET
          %h2.separator •

          %p It's handy when you're waiting in line, on a linch breack, or just have a few minutes to kill.
          %p
            %strong Thorin Klosowski, Lifehacker
          %h2.separator •

          %p Some japanese text goes here, remember to change this!
          %p
            %strong Lifehacker Japan
          
  %section.achivements
    .container
      .row
        .span10.offset1
          %p
            %h2 Number 1 News app in 6 countries
          %hr
          %p
            %h2 Featured in New & Noteworthy in over 50 countries
          %hr
          %p
            %h2 Featured in What's hot in 3 countries

  %section.gray-background.centered
    .container
      .row
        .span12
          %img.full-logo{:src => "/images/readtime-icon.png"}
          %h2
            Available on the
            %a{:src => "#"} App Store
            now.
          %p
            %a{:src => "#"} www.readtimeapp.com

  %section.centered
    .container
      %h2 Take a walk thorough a few things we've been working on.
      .products-grid
        %a{:href => "#"}
          %img{:src => "images/readtime-icon.png", :alt => "Readtime"}
        %a{:href => "#"}
          %img{:src => "images/thread-icon.png", :alt => "Thread"}
        %a{:href => "#"}
          %img{:src => "images/eventer-icon.png", :alt => "Eventer"}
    

  