---
layout: "_layout/_main.html.haml"
page_title: Slider
...

/ %section
/   .container
/     .fluid-row
/       .span10.offset1
/         #myCarousel.carousel.slide{style: "width:600px;overflow-x:visible !important"}
/           / Carousel items
/           .carousel-inner{style: "width:300px;overflow:visible !important"}
/             .active.item
/               %img{:src =>'images/slider-1.jpg', style: "z-index:10"}
/               %p When I scratch by back the itch stops
/             .item
/               %img{:src => 'images/slider-1.jpg'}
/               %p Simple is good
/             .item
/               %img{:src => 'images/slider-1.jpg'}
/               %p I like pork dumplings
/           / Carousel nav
/           %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
/           %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
/ %section
/   .container
/     .fluid-row
/       .span10.offset1
/         .banner
/           %ul
/             %li 
/               %img{:src =>'images/slider-1.jpg', style: "z-index:10"}
/               %p When I scratch by back the itch stops
/             %li
/               %img{:src => 'images/slider-1.jpg'}
/               %p Simple is good
/             %li
/               %img{:src => 'images/slider-1.jpg'}
/               %p I like pork dumplings
/       %a.slider-prev{href: "#"} prev
/       |
/       %a.slider-next{href: "#"} next

/ %section
/   .container
/     .fluid-row
/       .span10.offset1
/         .swipe#slider
/           .swipe-wrap
/             %div 
/               %img{:src =>'images/slider-1.jpg'}
/               %p 1
/             %div
/               %img{:src => 'images/slider-2.jpg'}
/               %p 2
/             %div
/               %img{:src => 'images/slider-3.jpg'}
/               %p 3
/             %div 
/               %img{:src => 'images/slider-4.jpg'}
/               %p 4
/             %div
/               %img{:src => 'images/slider-5.jpg'}
/               %p 5
/             %div
/               %img{:src => 'images/slider-6.jpg'}
/               %p 6
/           .slider-controls
/             %hr
/               %a.slider-prev{href: "#"} prev
/               %a.slider-next{href: "#"} next
              


.royalSlider.rsDefault
  %div
    %img.rsImg{:src =>'images/slider-1.jpg', :alt => "This is caption text"}
    %p 1
  %div
    %img.rsImg{:src => 'images/slider-2.jpg'}
    %p 2
  %div
    %img.rsImg{:src => 'images/slider-3.jpg'}
    %p 3
  %div 
    %img.rsImg{:src => 'images/slider-4.jpg'}
    %p 4
  %div
    %img.rsImg{:src => 'images/slider-5.jpg'}
    %p 5
  %div
    %img.rsImg{:src => 'images/slider-6.jpg'}
    %p 6
/ .slider-controls
/   %hr
/     %a.slider-prev{href: "#"} prev
/     %a.slider-next{href: "#"} next