.white-on-blue
  %section.container
    .row
      .span10.offset1.text-center
        %h2 Don't see your role here?  We're always looking to meet new and smart people.
    .row
      .span10.offset1.text-center
        %p       
          %a.button.grey{:href => "mailto:jobs@cogent.co"} Drop us a line