%section.white-on-blue.text-center.drop-us-a-line
  .container
    .row-fluid
      .span10.offset1
        %h2 
          Don't see your role here?
          %br
          We're always looking to meet new and smart people.
    .row-fluid
      .span10.offset1
        %a.button.grey{:href => "mailto:jobs@cogent.co"} Drop us a line