%section.mobile
  .container
    .row
      .span12
        %ul.contact.unstyled
          %li info@cogent.co
          %li 
            Level 3, 351 Elizabeth Street  
            %br
            Melbourne VIC
          %li Rachel 0419 373 075
