.project<>
  - if include_images
    %a{ :href => href("/projects/" + project['page']) }<>
      %img{ :src => href("/images/" + project['image']) }<>
  %h2<>
    %a{ :href => href("/projects/" + project['page']) }<>= project['display_name'] 
  %p<>= project['strapline']
