- arranged_projects = arrange_projects(defined?(for_project) ? for_project : nil)

%section.products-slider
  .container{:style => "overflow: visible"}
    .row
      %a{:name => "work"}
      .span8.offset1
        %h2 We like to work together with smart people to make remarkable things we're proud of.
    .row{:style => "position:relative"}
      .slider-prev
      .slider-next
      .span11.offset1.slider-container
        .royalSlider.rsDefault.visibleNearby
          - arranged_projects.each do |project|
            %div
              %h3
                = project['name']
              %p.desktop= project['description']
              -# The on-click action on the image is added via JS
              %img.rsImg.jsLink{:src => href("/images/slider-#{project['name'].downcase}.jpg"), :'data-href' => href("/projects/#{project['name'].downcase}")}