%section.products-slider
  .container{:style => "overflow: visible"}
    .row
      %a{:name => "work"}
      .span8.offset1
        %h2 We like to work together with smart people to make remarkable things we're proud of.
      .span3{:style => "padding-top:50px;"}
        .slider-controls.desktop
          %button.slider-prev
          %button.slider-next
    .row
      .span11.offset1.slider-container
        .royalSlider.visibleNearby
          %div
            %h2
              Readtime
            %p Getting things read on your iPhone.
            %a{:href => "/projects/readtime"}
              %img.rsImg{:src => href("/images/slider-readtime.jpg")}

          %div
            %h2
              Eventer
            %p Changing what it’s like to watch an event you couldn’t make it to.
            %a{:href => "/projects/eventer"}
              %img.rsImg{:src => href("/images/slider-eventer.jpg")}
          %div
            %h2
              Thread
            %p Helping Melbourne Business School to be leaders in digital learning.
            %a{:href => "/projects/thread"}
              %img.rsImg{:src =>href("/images/slider-thread.jpg")}
          %div
            %h2
              Hooroo
            %p Bacon ipsum dolor sit amet short loin ball tip doner corned beef.
            %a{:href => "/projects/hooroo"}
              %img.rsImg{:src =>href("/images/slider-hooroo.jpg")}
