%section.centered
  .container
    %h2 Take a walk thorough a few things we've been working on.
    .products-grid
      %a{:href => href("/projects/readtime.html")}
        %img{:src => href("/images/readtime-icon.png"), :alt => "Readtime"}
      %a{:href => href("/projects/thread.html")}
        %img{:src => href("/images/thread-icon.png"), :alt => "Thread"}
      %a{:href => href("projects/eventer.html")}
        %img{:src => href("/images/eventer-icon.png"), :alt => "Eventer"}
  