/ all products [:readtime, :thread, :eventer, :hooroo, :rea, :tessselaar]
- selected_products = products.map(&:to_s)
%section.centered
  .container
    %h2 Take a walk thorough a few things we've been working on.
    .products-grid
      - selected_products.each do |product|
        %a{:href => href("/projects/#{product}")}><
          %img{:src => href("/images/#{product}-icon.png"), :alt => product.capitalize}
  