.tweet
  %h2= markup_links(tweet.text)
  %span.attribution< 
    %span.time= tweet.created_at
    %a{ :href => "http://twitter.com/#{tweet['user']['screen_name']}/statuses/"}="@" + tweet['user']['screen_name']
