---
layout: "../_layout/_main.html.haml"
...
%article{ :role => "main" }
  #gs-overlay
    &nbsp;

  %h1 
    We like to work together with smart people to
    %br
    make remarkable things we are proud of
  %h2
    We can incept, design and build applications that work.

  .projects.clearfix
    = projects_html
