---
page_title: Projects
layout: "../_layout/_main.html.haml"
...
%article{ :role => "main" }


  %h1 
    Take a walk through a few things
    %br
    we've been working on
  %h2
    Throwing the doors open matters to us. That's why we've created a storyboard of some of our projects, with the hearty flavour of how we work.

  .projects.clearfix
    = projects_html
