---
layout: "../_layout/_main.html.haml"
class: "rea"
...

%section.intro.image-background

%section.grey-background.product-description
  .container
    .row
      .span6
        %h2 Rebuilding the Customer Platform, ground up.
        %p We helped REA create a better way for commercial real estate agents to manage their listings.

%section
  .container
    .row
      .span10.offset1
        %p
          Agent Desktop is the administration system that real estate agents use to manage their listings on
          %a{:href => "http://realestate.com.au"} realestate.com.au.
          REA Group has been rolling out a new improved version of it for some time now, and the goal for this project was to get commercial agents on to the new platform.
        %p
          %h2.dark-blue A better way for commercial real estate agents to manage their listings.
        %p
          Cogent has been involved in the changes to Agent Desktop for over a year, so when a team was formed to tackle commercial agents and listings, it made sense for us to get involved. We provided support in estimation and planning, plus key technical staff in the delivery team.
        %p
          During the delivery process, we've worked closely with REA business representatives to help refine the scope of the project in various ways that help give better value for money to the project as a whole.
%section.cards.image-background
%section.white-on-blue.centered
  %h2
    We turned the lights on in production
    %br
      for the first 50 agents. Woot!
  %p Marty Andrews from Cogent

/= include "../_partials/_project_footer.html.haml", :products => [:readtime, :eventer, :rea]