---
layout: "../_layout/_main.html.haml"
class: "readtime"
...

.centered.video-background
  %video{:autoplay => "", :preload => "auto", :loop => ""}
    %source{:type => "video/mp4", :src => href("/images/readtime.mp4")}
    %source{:type => "video/webm", :src => href("/images/readtime.webm")}
    / Fallback image
    %img{:src => href("/images/readtime-video-poster.png")}
  / %h1 readtime

%section.gray-background.product-description
  .container
    .row-fluid
      .span8.offset1
        %h2 Getting things read on your iPhone
        %br
        %h3 Readtime is an app that helps you get through the items in your Readability list. It starts with the amount of time you have - up to 30 minutes - and fetches the right amount of articles for you based on average read speeds.
  .readtime-iphone

%section.more
  .container
    .row-fluid
      .span8.offset1
        %h2.dark-blue Retrieve and store articles you've saved to Pocket or Readability for offline reading.
        %br
        %p Reading lists are awesome for collecting all the articles you'd like to read - sometimes too awesome. However, having enthusiastically saved all those great reads for later, we found ourselves wincing when faced with the article pile-up. 
        %p We're continuing to developing Readtime, enjoying the positive feedback we've had from our users thus far. Next up we're hoping to have an Instapaper release top complete the suite of top reading services.
    .bottom
      %img{:src => href("/images/readtime-two-iphones.png")}

%section.gray-background.centered
  .container
    .row-fluid
      .span8.offset2
        %p A dead-simple app for quickly accessing your Readability reading list for those idle moments throughout your day.
        %p
          %strong Matt Elliot, CNET
        %h2.separator •

        %p It's handy when you're waiting in line, on a linch break, or just have a few minutes to kill.
        %p
          %strong Thorin Klosowski, Lifehacker
        %h2.separator •

        %p 読まずにスルーしがちなウェブ記事を読むように働きかけてくれるアプリというのは、珍しいアプリだと思います
        %p
          %strong Lifehacker Japan
        
%section.white-on-blue
  .container
    .row-fluid
      .span10.offset1
        %h2 Number 1 News app in 6 countries
        %hr
        %h2 Featured in New & Noteworthy in over 50 countries
        %hr
        %h2 Featured in What's Hot in 3 countries

%section.gray-background.centered
  .container
    %img.full-logo{:src => href("/images/readtime-logo.png")}
    %h2
      Available on the
      %a{:href => "http://itunes.apple.com/us/app/readtime/id549039409?mt=8"} App Store
      now.
    %p
      %a{:href => "http://www.readtimeapp.com"} www.readtimeapp.com

= include "../_partials/_project_footer.html.haml", :products => [:readtime, :eventer, :rea]
