---
layout: "../_layout/_main.html.haml"
class: "redbubble"
page_title: "Red Bubble"
...

%header.project-intro
  %img.logo.centered{:src => href('/images/redbubble-logo.png')}

%section.grey-background.product-description
  .container
    .row
      .span6.offset1{style:"position:relative"}
        %h2 A marketplace for digital artists.
        %p Where independent digital artists and designers earn a living by selling their art.
  .product-image
%section
  .container
    .row
      .span7.offset1
        %h2.dark-blue Sales and fulfilment for artists, individualism for buyers.
      .span10.offset1
        %p Redbubble is an online marketplace and print-on-demand fulfilment service for artists. Artists can focus on creating their works and self-promotion, knowing their portfolio will be well-presented to buyers, their art reproduced with care, and that customer queries and transactions will be taken care of.
        %p Buyers choose from millions of original, creative designs to have custom printed on t-shirts and other products. They can brand themselves with the ideas and images that resonate personally, rather than by big fashion brands.
%section.white-on-blue
  .container
    .row
      .span10.offset1.centered
        %h2
          In 12 months: moved from traditional business case models to a lean startup-based approach centred on talking to customers and measuring progress by validated learning.
%section
  .container
    .row
      .span7.offset1
        %h2.dark-blue New features, and lean thinking.
      .span10.offset1
        %p Cogent was part of the team that delivered a steady stream of new features to the site. One such focus area was to provide a better discovery experience for browsing buyers. This included identification of poor conversion via analytics, context gathering via customer interviews and competitor analysis, feature formulation, and measurement via onsite a/b testing.
        %p Cogent also assisted with aspects of transformation and growth of Red Bubble. This included to help facilitate development of new "Lean Startup" inspired processes, improved communication within the growing development team, and identification of key company metrics to align the business and drive growth.
%section.project-image-space
  %img.desktop{:src => href('/images/redbubble-image-space.jpg')}
  %img.mobile{:src => href('/images/redbubble-image-space-mobile.jpg')}
