---
layout: "../_layout/_main.html.haml"
...
%article.clearfix{ :role => "main" }
  #gs-overlay
    &nbsp;

  %h1 
    Tesselaar
  %h2.intro-end
    An efficient back-office was in order for Paul Tesselaar

  %aside

    %h1 Who is the customer?
    %p Tesselaar Nursery (link to: http://www.tesselaar.net.au/) is a long-standing mail order business who sells plants, bulbs, and perennials, and is also home to the popular annual Tulip Festival (link to: http://www.tulipfestival.com.au/). Their Managing Director is Paul Tesselaar - a guy who knows his plants and his business inside out.

    %h1 OnePoint: a back-office application.
    %p The job at hand was to create operational efficiency for the business. Currently, the company ran on a range of systems developed over ten or more years, coupled with some very complicated spreadsheets that were unwieldy to use and maintain. Paul wanted to make things simpler and more cost effective.

    %p We produced an operations application that allowed management of customers, orders, stock levels, and dispatch. Sounds simple, but there is a lot under the hood.

    %h1 How did we go about it?
    %p First up, we paid a visit to the Tulip Festival and the Nursery, to see how Tesselaar worked. Once we were done tip-toeing, Paul walked us through his business functions end-to-end. We learned all about their needs for stock ordering, forecasting and inventory management; picking, plant treatment, packing and shipping; customer service, invoicing and payments.  We mapped out how things currently worked, and asked lots of questions to find out what mattered most.

    %p Over the coming months, we completed the design and development of a Ruby on Rails application that Tesselaar call "OnePoint". We focused on designs that suited the nature of Paul's workforce - for instance that some are older and less technology savvy, or that some have specialised roles and then busy periods are dealt with by casual workers.  We mixed technologies that suited how each main function worked - e.g. combining iPad interfaces, online interfaces, and barcode scanners to make each step as efficient as possible. 

    %h1 A hairy challenge.
    %p One of the most unique problems faced by Tesselaar was that the product (i.e., plants) ... die. They can perish at any point in their journey - potentially once ordered but while still in the ground before they even reach Tesselaar, in storage or on the shelves waiting to be shipped.  That meant the stock management solution had to take this into account, and leave doors open to easily correct inventory levels along the way. It also meant that the application had to be smart about how to determine when stock should be say removed from cool storage and packaged on the shelf as product ready to ship. The relationship between customer orders and forecasts of typical season behaviour to what the baggers were instructed to pack were vital in this.  

    %h1 Did it work?
    %p We're waiting to see. Paul is picking his moment between seasons to switch to his new application. We're bound to need to refine some of the rules that determine what stock to pack, or tweak how the packing production line operates to make it efficient for workers. Overall though, the early feedback of the trials by Paul's team are promising. We'll be sure to report back.

  %section{ :role => "main" }
  
    .post
      %img{ :src => href("/images/projects/photo-03.jpg") }
      .transparent-box
      .caption
        %p Iteration 2 cards are up and ready to go

    .post
      %img{ :src => href("/images/projects/photo-04.jpg") }
      .transparent-box
      .caption
        %p Greeny and Trav talk Cohorts

    .post.quote
      %span.time 2 days ago, Matt from Melbourne Business School said
      %h1 
        It's a great day here in the Cogent Treehouse, lot's of exciting ideas being thrown around!
    
    .post
      %img{ :src => href("/images/projects/photo-03.jpg") }
      .transparent-box
      .caption
        %p Product strategy sketchshop

    .post.quote
      %span.time 2 days ago, Ben from Cogent said
      %h1 
        Tough week trying to get the aggregator working in IE9, but we did it. Took a lot of elbow great and coffee though!

    .post
      %img{ :src => href("/images/projects/photo-04.jpg") }
      .transparent-box
      .caption
        %p Retro for Iteration 1
  
= include("../_layout/project_footer.html.haml")
